<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>@mapper</title>
    <link rel="stylesheet" href="static/main.css">
</head>
<body>
<h2>@mapper</h2>
<h3>About</h3>
<p>This app accepts Instagram handles and populates a map with markers of recent post locations.</p>
<hr>
<h3>Inspiration</h3>
<p>The inspiration came from a desire to visually follow a friends' group along their travels.
    Their trip is planned to cover most of southern Africa over the next 4 months, starting April 2021.
    Their handle is set as default in the search bar, and you can follow them at <a href="https://www.instagram.com/4x4theboiz">@4x4theboiz</a>.
<hr>
<h3>Disclaimer</h3>
<p>This app is meant for educational and demonstrative purposes only. This app is still in early development stages. Some locations may fail to be recognized,
    and currently only recent posts are plotted to the map.</p>
</body>
</html>
