<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>@mapper</title>
    <link rel="stylesheet" href="static/mobile.css">
</head>
<body>
<h2>@mapper</h2>
<h5>About</h5>
<p>This app accepts Instagram handles and populates a map with markers of recent post locations.</p>
<hr>
<h5>Inspiration</h5>
<p>The inspiration came from a desire to visually follow a friends' group along their travels.
    Starting April 2021, their trip sets out to spend the next 4 months covering most of Southern Africa.
    Follow them: <a href="https://www.instagram.com/4x4theboiz">@4x4theboiz</a></p>
<p></p>
<p>I hope this app helps connect families and friends to our beloved Boys! May the map guide them (us!) through the journey.
May Esmeralda chug along relentlessly, and May Karl be the level-headed peacekeeper.</p>
<hr>
<h5>Disclaimer</h5>
<p>This app is meant for educational and demonstrative purposes only. It is still in early development stages. Some locations may fail to be recognized,
    and currently only recent posts are plotted to the map. Please send any questions to <a href="https://www.instagram.com/mattwilliamdalton91/">@mattwilliamdalton91</a></p>
</body>
</html>
