<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>@mapper</title>
    <link rel="stylesheet" href="static/main.css">
</head>
<body>
<h2>@mapper</h2>
<h3>About</h3>
<p>This app accepts Instagram handles and populates a map with markers of recent post locations.</p>
<hr>
<h3>Inspiration</h3>
<p>The inspiration came from a desire to visually follow a friends' group along their travels.
    Starting April 2021, their trip sets out to spend the next 4 months covering most of Southern Africa.
    Follow them: <a href="https://www.instagram.com/4x4theboiz">@4x4theboiz</a></p>
<p></p>    
<p>I hope this app helps connect families and friends to our beloved Boys! May the map guide them (us!) through the journey.
May Esmeralda chug along relentlessly, and May Karl be the level-headed peacekeeper.</p>
<hr>
<h3>Disclaimer</h3>
<p>This app is meant for demonstrative purposes only. We rely on public accounts that have location tagged posts.
    We are 1 week old, first time searches are slow, some locations may fail to map, and only recent posts are accessible.
    Please send any questions to <a href="https://www.instagram.com/mattwilliamdalton91/">@09grantm</a></p>
</body>
</html>
