<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>@mapper</title>
    <link rel="stylesheet" href="static/mobile.css">
</head>
<body>
<h1>@mapper</h1>
<h4>Instagram Location Mapper</h4>
<form action="/map_page" method="post">
    {{handleform.handle.label}} {{handleform.handle}}
    <br>
    {{handleform.button}}
    <br>
</form>
<form action="/about_page" method="get">
    <br>
    {{handleform.button_about}}
    <br>
</form>
<h6>Try search these handles too!</h6>
    <h6>teampolarsteps</h6>
    <h6>backpackingwithlidia</h6>
    <h6>travel</h6>
    <h6>backpackingtours</h6>
    <h6>photos</h6>
    <h6>backpacking_girl</h6>

</body>
</html>
