<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>@mapper</title>
    <link rel="stylesheet" href="static/main.css">
</head>
<body>
<h1>@mapper</h1>
<h4>Instagram Location Mapper</h4>
<form action="/map_page" method="post">
    {{handleform.handle.label}} {{handleform.handle}}
    <br>
    {{handleform.button}}
    <br>
</form>
<form action="/about_page" method="get">
    <br>
    {{handleform.button_about}}
    <br>
</form>
<p>Try search other public handles too!</p>
    <p>teampolarsteps</p>
    <p>backpackingtours</p>
    <p>travel</p>
    <p>backpackingwithlidia</p>
    <p>backpackingbananas</p>
    <p>photos</p>
    <p>backpacking_girl</p>
    <p>backpacking_indian</p>
    <p>valtteribottas</p>

</body>
</html>
