<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>@mapper</title>
    <link rel="stylesheet" href="static/mobile.css">
</head>
<body>
<h1>@mapper</h1>
<h4>Instagram Location Mapper</h4>
<form action="/map_page" method="post">
    {{handleform.handle.label}} {{handleform.handle}}
    <br>
    {{handleform.button}}
    <br>
</form>
<form action="/about_page" method="get">
    <br>
    {{handleform.button_about}}
    <br>
</form>
<h6>Try search these handles too!</h6>
    <a href="/map_page/teampolarsteps">teampolarsteps</a><p></p>
    <a href="/map_page/cityofcapetown">cityofcapetown</a><p></p>
    <a href="/map_page/tony_ontheroad">tony_ontheroad</a><p></p>
    <a href="/map_page/backpackingtours">backpackingtours</a><p></p>
    <a href="/map_page/rolling_sloane">rolling_sloane</a><p></p>
    <a href="/map_page/cape_secrets">cape_secrets</a><p></p>
</body>
</html>
