<!DOCTYPE html>
<head>    
    <meta http-equiv="content-type" content="text/html; charset=UTF-8" />
    
        <script>
            L_NO_TOUCH = false;
            L_DISABLE_3D = false;
        </script>
    
    <style>html, body {width: 100%;height: 100%;margin: 0;padding: 0;}</style>
    <style>#map {position:absolute;top:0;bottom:0;right:0;left:0;}</style>
    <script src="https://cdn.jsdelivr.net/npm/leaflet@1.6.0/dist/leaflet.js"></script>
    <script src="https://code.jquery.com/jquery-1.12.4.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/js/bootstrap.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/Leaflet.awesome-markers/2.0.2/leaflet.awesome-markers.js"></script>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/leaflet@1.6.0/dist/leaflet.css"/>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css"/>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap-theme.min.css"/>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.6.3/css/font-awesome.min.css"/>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/Leaflet.awesome-markers/2.0.2/leaflet.awesome-markers.css"/>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/gh/python-visualization/folium/folium/templates/leaflet.awesome.rotate.min.css"/>
    
            <meta name="viewport" content="width=device-width,
                initial-scale=1.0, maximum-scale=1.0, user-scalable=no" />
            <style>
                #map_ca5ab603e866470683f697fdbd07547d {
                    position: relative;
                    width: 100.0%;
                    height: 100.0%;
                    left: 0.0%;
                    top: 0.0%;
                }
            </style>
        
    <script src="https://cdnjs.cloudflare.com/ajax/libs/leaflet.markercluster/1.1.0/leaflet.markercluster.js"></script>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/leaflet.markercluster/1.1.0/MarkerCluster.css"/>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/leaflet.markercluster/1.1.0/MarkerCluster.Default.css"/>
</head>
<body>    
    
            <div class="folium-map" id="map_ca5ab603e866470683f697fdbd07547d" ></div>
        
</body>
<script>    
    
            var map_ca5ab603e866470683f697fdbd07547d = L.map(
                "map_ca5ab603e866470683f697fdbd07547d",
                {
                    center: [0.0, 0.0],
                    crs: L.CRS.EPSG3857,
                    zoom: 2,
                    zoomControl: true,
                    preferCanvas: false,
                }
            );

            

        
    
            var tile_layer_8930b32bad2f44f294d0726f4db933a7 = L.tileLayer(
                "https://{s}.tile.openstreetmap.org/{z}/{x}/{y}.png",
                {"attribution": "Data by \u0026copy; \u003ca href=\"http://openstreetmap.org\"\u003eOpenStreetMap\u003c/a\u003e, under \u003ca href=\"http://www.openstreetmap.org/copyright\"\u003eODbL\u003c/a\u003e.", "detectRetina": false, "maxNativeZoom": 18, "maxZoom": 18, "minZoom": 0, "noWrap": false, "opacity": 1, "subdomains": "abc", "tms": false}
            ).addTo(map_ca5ab603e866470683f697fdbd07547d);
        
    
            var marker_cluster_d5391bae029f43dab35e7e3f7f7086d3 = L.markerClusterGroup(
                {}
            );
            map_ca5ab603e866470683f697fdbd07547d.addLayer(marker_cluster_d5391bae029f43dab35e7e3f7f7086d3);
        
    
            var marker_5ba733272f704fdcb7186cfe9573083b = L.marker(
                [7.9366015, 98.3529292],
                {}
            ).addTo(marker_cluster_d5391bae029f43dab35e7e3f7f7086d3);
        
    
        var popup_3dab7a340445466e87cbda5f9ff9f8fc = L.popup({"maxWidth": 400});

        
            var html_a057f9b96fd248f782af006909c99ad0 = $(`<div id="html_a057f9b96fd248f782af006909c99ad0" style="width: 100.0%; height: 100.0%;">Phuket, Thailand <br> <a href=https://www.picuki.com/media/2547375456077059143 > See Post</div>`)[0];
            popup_3dab7a340445466e87cbda5f9ff9f8fc.setContent(html_a057f9b96fd248f782af006909c99ad0);
        

        marker_5ba733272f704fdcb7186cfe9573083b.bindPopup(popup_3dab7a340445466e87cbda5f9ff9f8fc)
        ;

        
    
    
            var marker_59f1b67ed152458da83f5d1eba02b17c = L.marker(
                [69.30405, 17.45915887912413],
                {}
            ).addTo(marker_cluster_d5391bae029f43dab35e7e3f7f7086d3);
        
    
        var popup_c43d24321b6c4f1a811b146a79ce45ed = L.popup({"maxWidth": 400});

        
            var html_c4bc1096cfac4715a03bafdbde9cbca9 = $(`<div id="html_c4bc1096cfac4715a03bafdbde9cbca9" style="width: 100.0%; height: 100.0%;">Senja <br> <a href=https://www.picuki.com/media/2547538551974089182 > See Post</div>`)[0];
            popup_c43d24321b6c4f1a811b146a79ce45ed.setContent(html_c4bc1096cfac4715a03bafdbde9cbca9);
        

        marker_59f1b67ed152458da83f5d1eba02b17c.bindPopup(popup_c43d24321b6c4f1a811b146a79ce45ed)
        ;

        
    
    
            var marker_27a561d20d7044ae963ee03e4b40824f = L.marker(
                [36.6217431, 29.1209488],
                {}
            ).addTo(marker_cluster_d5391bae029f43dab35e7e3f7f7086d3);
        
    
        var popup_e982a3c9f62a4c2a8f3e2b28c4212036 = L.popup({"maxWidth": 400});

        
            var html_a29aef5edeee4d29b788f14c7f3a392e = $(`<div id="html_a29aef5edeee4d29b788f14c7f3a392e" style="width: 100.0%; height: 100.0%;">Fethiye, Turkey <br> <a href=https://www.picuki.com/media/2548802005397543033 > See Post</div>`)[0];
            popup_e982a3c9f62a4c2a8f3e2b28c4212036.setContent(html_a29aef5edeee4d29b788f14c7f3a392e);
        

        marker_27a561d20d7044ae963ee03e4b40824f.bindPopup(popup_e982a3c9f62a4c2a8f3e2b28c4212036)
        ;

        
    
    
            var marker_84b90b9955d04c63b279394a9cc13127 = L.marker(
                [41.1018669, -81.1515962],
                {}
            ).addTo(marker_cluster_d5391bae029f43dab35e7e3f7f7086d3);
        
    
        var popup_d65f50eca96341fdb373cf560a2cff5d = L.popup({"maxWidth": 400});

        
            var html_e90b46e94b8b4fd296028d3f9af28ed3 = $(`<div id="html_e90b46e94b8b4fd296028d3f9af28ed3" style="width: 100.0%; height: 100.0%;">Planet Earth <br> <a href=https://www.picuki.com/media/2549537849007766162 > See Post</div>`)[0];
            popup_d65f50eca96341fdb373cf560a2cff5d.setContent(html_e90b46e94b8b4fd296028d3f9af28ed3);
        

        marker_84b90b9955d04c63b279394a9cc13127.bindPopup(popup_d65f50eca96341fdb373cf560a2cff5d)
        ;

        
    
    
            var marker_55065668daf94071a23467ad59b58deb = L.marker(
                [35.021041, 135.7556075],
                {}
            ).addTo(marker_cluster_d5391bae029f43dab35e7e3f7f7086d3);
        
    
        var popup_9ee4f2bb20524e52bf3c02639ddbbb92 = L.popup({"maxWidth": 400});

        
            var html_7a16dd90360e4238b8740eef8c027f5d = $(`<div id="html_7a16dd90360e4238b8740eef8c027f5d" style="width: 100.0%; height: 100.0%;">Kyoto, Japan <br> <a href=https://www.picuki.com/media/2550254633641883427 > See Post</div>`)[0];
            popup_9ee4f2bb20524e52bf3c02639ddbbb92.setContent(html_7a16dd90360e4238b8740eef8c027f5d);
        

        marker_55065668daf94071a23467ad59b58deb.bindPopup(popup_9ee4f2bb20524e52bf3c02639ddbbb92)
        ;

        
    
    
            var marker_1fad47ab89e143309cde957338dc8a79 = L.marker(
                [36.5748441, 139.2394179],
                {}
            ).addTo(marker_cluster_d5391bae029f43dab35e7e3f7f7086d3);
        
    
        var popup_bbad29c7406b4a55807ba50f567ae794 = L.popup({"maxWidth": 400});

        
            var html_c485c5fa47ce4b978c4ba82ce2bc6ee5 = $(`<div id="html_c485c5fa47ce4b978c4ba82ce2bc6ee5" style="width: 100.0%; height: 100.0%;">Japan <br> <a href=https://www.picuki.com/media/2550991851658549149 > See Post</div>`)[0];
            popup_bbad29c7406b4a55807ba50f567ae794.setContent(html_c485c5fa47ce4b978c4ba82ce2bc6ee5);
        

        marker_1fad47ab89e143309cde957338dc8a79.bindPopup(popup_bbad29c7406b4a55807ba50f567ae794)
        ;

        
    
    
            var marker_a2f5845836094011b5509faf9e2f5aba = L.marker(
                [33.6981486, -117.7460817],
                {}
            ).addTo(marker_cluster_d5391bae029f43dab35e7e3f7f7086d3);
        
    
        var popup_08363e569a8a4f8994859d94e0175de9 = L.popup({"maxWidth": 400});

        
            var html_8fffe711c96b45138bdb4af9591fa74a = $(`<div id="html_8fffe711c96b45138bdb4af9591fa74a" style="width: 100.0%; height: 100.0%;">Nature <br> <a href=https://www.picuki.com/media/2551698252085186888 > See Post</div>`)[0];
            popup_08363e569a8a4f8994859d94e0175de9.setContent(html_8fffe711c96b45138bdb4af9591fa74a);
        

        marker_a2f5845836094011b5509faf9e2f5aba.bindPopup(popup_08363e569a8a4f8994859d94e0175de9)
        ;

        
    
    
            var marker_f5cbd87a350a42d8928a552264069ba3 = L.marker(
                [-35.05686625, 150.72630012641693],
                {}
            ).addTo(marker_cluster_d5391bae029f43dab35e7e3f7f7086d3);
        
    
        var popup_08f8f7efad9a4338a76e1c3d4035d81d = L.popup({"maxWidth": 400});

        
            var html_ee7a000d61cb48868825993ec5fd9ef9 = $(`<div id="html_ee7a000d61cb48868825993ec5fd9ef9" style="width: 100.0%; height: 100.0%;">Jervis Bay NSW Australia <br> <a href=https://www.picuki.com/media/2552446453037920409 > See Post</div>`)[0];
            popup_08f8f7efad9a4338a76e1c3d4035d81d.setContent(html_ee7a000d61cb48868825993ec5fd9ef9);
        

        marker_f5cbd87a350a42d8928a552264069ba3.bindPopup(popup_08f8f7efad9a4338a76e1c3d4035d81d)
        ;

        
    
    
            var marker_49b74414d1ee41eba89d61836854de84 = L.marker(
                [46.603354, 1.8883335],
                {}
            ).addTo(marker_cluster_d5391bae029f43dab35e7e3f7f7086d3);
        
    
        var popup_c363992c063149e5a6b20c762ef1880c = L.popup({"maxWidth": 400});

        
            var html_c222f31e838844bf831de3fb5ce05150 = $(`<div id="html_c222f31e838844bf831de3fb5ce05150" style="width: 100.0%; height: 100.0%;">France <br> <a href=https://www.picuki.com/media/2553165951797784203 > See Post</div>`)[0];
            popup_c363992c063149e5a6b20c762ef1880c.setContent(html_c222f31e838844bf831de3fb5ce05150);
        

        marker_49b74414d1ee41eba89d61836854de84.bindPopup(popup_c363992c063149e5a6b20c762ef1880c)
        ;

        
    
    
            var marker_3513c8dbf2d94003a2a22853a96d5927 = L.marker(
                [37.84054795, -119.51658779802511],
                {}
            ).addTo(marker_cluster_d5391bae029f43dab35e7e3f7f7086d3);
        
    
        var popup_f87e65f1ab2147bf934f1508f27217ae = L.popup({"maxWidth": 400});

        
            var html_a6aa34780d77458a98a519f6b434163b = $(`<div id="html_a6aa34780d77458a98a519f6b434163b" style="width: 100.0%; height: 100.0%;">Yosemite National Park <br> <a href=https://www.picuki.com/media/2553895456640238443 > See Post</div>`)[0];
            popup_f87e65f1ab2147bf934f1508f27217ae.setContent(html_a6aa34780d77458a98a519f6b434163b);
        

        marker_3513c8dbf2d94003a2a22853a96d5927.bindPopup(popup_f87e65f1ab2147bf934f1508f27217ae)
        ;

        
    
    
            var marker_66b0c067cba947d5a27241382be7d6f1 = L.marker(
                [2.8599609, 10.188326285530415],
                {}
            ).addTo(marker_cluster_d5391bae029f43dab35e7e3f7f7086d3);
        
    
        var popup_880e8311f1dd4d8ca2b4e90ccbf7e298 = L.popup({"maxWidth": 400});

        
            var html_0e7ac78b7be34030bf698fde971f477f = $(`<div id="html_0e7ac78b7be34030bf698fde971f477f" style="width: 100.0%; height: 100.0%;">The Ocean <br> <a href=https://www.picuki.com/media/2554604841230316813 > See Post</div>`)[0];
            popup_880e8311f1dd4d8ca2b4e90ccbf7e298.setContent(html_0e7ac78b7be34030bf698fde971f477f);
        

        marker_66b0c067cba947d5a27241382be7d6f1.bindPopup(popup_880e8311f1dd4d8ca2b4e90ccbf7e298)
        ;

        
    
    
            var marker_12908f0d8f7c495d9a82be76edece178 = L.marker(
                [46.6634019, -118.2237097],
                {}
            ).addTo(marker_cluster_d5391bae029f43dab35e7e3f7f7086d3);
        
    
        var popup_2173deb0e8a4409da915ca44bcf1374e = L.popup({"maxWidth": 400});

        
            var html_922a1e0ccd894bf29f30c0695e18ad5d = $(`<div id="html_922a1e0ccd894bf29f30c0695e18ad5d" style="width: 100.0%; height: 100.0%;">Palouse Falls <br> <a href=https://www.picuki.com/media/2555306486960242141 > See Post</div>`)[0];
            popup_2173deb0e8a4409da915ca44bcf1374e.setContent(html_922a1e0ccd894bf29f30c0695e18ad5d);
        

        marker_12908f0d8f7c495d9a82be76edece178.bindPopup(popup_2173deb0e8a4409da915ca44bcf1374e)
        ;

        
    
    
            var marker_5151a72af3ab45d8a596608432c7b5ab = L.marker(
                [-19.1421421, 146.83354856403196],
                {}
            ).addTo(marker_cluster_d5391bae029f43dab35e7e3f7f7086d3);
        
    
        var popup_2f60184b92cc4290ad963a199c7f4a10 = L.popup({"maxWidth": 400});

        
            var html_ded1e9c77c4447af8adc31ffd70c8c3a = $(`<div id="html_ded1e9c77c4447af8adc31ffd70c8c3a" style="width: 100.0%; height: 100.0%;">Magnetic Island <br> <a href=https://www.picuki.com/media/2556026678048890563 > See Post</div>`)[0];
            popup_2f60184b92cc4290ad963a199c7f4a10.setContent(html_ded1e9c77c4447af8adc31ffd70c8c3a);
        

        marker_5151a72af3ab45d8a596608432c7b5ab.bindPopup(popup_2f60184b92cc4290ad963a199c7f4a10)
        ;

        
    
    
            var marker_a78c40d7d8cb4215af1e05b7b8be8ed9 = L.marker(
                [36.9009641, 30.6954846],
                {}
            ).addTo(marker_cluster_d5391bae029f43dab35e7e3f7f7086d3);
        
    
        var popup_d9c63ff32f764eaaaa2caf8c7ae81c8a = L.popup({"maxWidth": 400});

        
            var html_cf5e6a56040045f0b5806269bcb8ef4e = $(`<div id="html_cf5e6a56040045f0b5806269bcb8ef4e" style="width: 100.0%; height: 100.0%;">Antalya, Turkey <br> <a href=https://www.picuki.com/media/2556187933560754900 > See Post</div>`)[0];
            popup_d9c63ff32f764eaaaa2caf8c7ae81c8a.setContent(html_cf5e6a56040045f0b5806269bcb8ef4e);
        

        marker_a78c40d7d8cb4215af1e05b7b8be8ed9.bindPopup(popup_d9c63ff32f764eaaaa2caf8c7ae81c8a)
        ;

        
    
    
            var marker_0346e99472834cc3853037b179d60651 = L.marker(
                [46.6947208, 12.08582225632518],
                {}
            ).addTo(marker_cluster_d5391bae029f43dab35e7e3f7f7086d3);
        
    
        var popup_1a5d073789c040688057e5712600350b = L.popup({"maxWidth": 400});

        
            var html_87b64d7a241a45708fa20f9184a3a1d4 = $(`<div id="html_87b64d7a241a45708fa20f9184a3a1d4" style="width: 100.0%; height: 100.0%;">Lago Di Braies <br> <a href=https://www.picuki.com/media/2556926742208308266 > See Post</div>`)[0];
            popup_1a5d073789c040688057e5712600350b.setContent(html_87b64d7a241a45708fa20f9184a3a1d4);
        

        marker_0346e99472834cc3853037b179d60651.bindPopup(popup_1a5d073789c040688057e5712600350b)
        ;

        
    
    
            var marker_d939bcfb55924f9993912309be0eaa85 = L.marker(
                [46.5939043, 7.9078016],
                {}
            ).addTo(marker_cluster_d5391bae029f43dab35e7e3f7f7086d3);
        
    
        var popup_f4470bc6caf94a9bb74df42435d6f057 = L.popup({"maxWidth": 400});

        
            var html_0cd9e4d41acb4146b41855b308044fc6 = $(`<div id="html_0cd9e4d41acb4146b41855b308044fc6" style="width: 100.0%; height: 100.0%;">Lauterbrunnen, Switzerland <br> <a href=https://www.picuki.com/media/2557486400413244920 > See Post</div>`)[0];
            popup_f4470bc6caf94a9bb74df42435d6f057.setContent(html_0cd9e4d41acb4146b41855b308044fc6);
        

        marker_d939bcfb55924f9993912309be0eaa85.bindPopup(popup_f4470bc6caf94a9bb74df42435d6f057)
        ;

        
    
    
            var marker_ff46cfdb410e46d8a144fa7d238984f8 = L.marker(
                [21.7214683, -71.6201783],
                {}
            ).addTo(marker_cluster_d5391bae029f43dab35e7e3f7f7086d3);
        
    
        var popup_faf17867bd8e4aaf97489e85631fb79f = L.popup({"maxWidth": 400});

        
            var html_f9051f1723d54b179a2a1aa8ae9fdb59 = $(`<div id="html_f9051f1723d54b179a2a1aa8ae9fdb59" style="width: 100.0%; height: 100.0%;">Turks and Caicos Islands <br> <a href=https://www.picuki.com/media/2557628001634659061 > See Post</div>`)[0];
            popup_faf17867bd8e4aaf97489e85631fb79f.setContent(html_f9051f1723d54b179a2a1aa8ae9fdb59);
        

        marker_ff46cfdb410e46d8a144fa7d238984f8.bindPopup(popup_faf17867bd8e4aaf97489e85631fb79f)
        ;

        
    
    
            var marker_d63c1a3d8ba144d695a7b5395f53d2db = L.marker(
                [38.9953683, 21.9877132],
                {}
            ).addTo(marker_cluster_d5391bae029f43dab35e7e3f7f7086d3);
        
    
        var popup_e271f8e054a346ee9f8b81f72810ccb7 = L.popup({"maxWidth": 400});

        
            var html_18c735afa60140269d5c4c7f0188fc22 = $(`<div id="html_18c735afa60140269d5c4c7f0188fc22" style="width: 100.0%; height: 100.0%;">Greece <br> <a href=https://www.picuki.com/media/2558346930765998960 > See Post</div>`)[0];
            popup_e271f8e054a346ee9f8b81f72810ccb7.setContent(html_18c735afa60140269d5c4c7f0188fc22);
        

        marker_d63c1a3d8ba144d695a7b5395f53d2db.bindPopup(popup_e271f8e054a346ee9f8b81f72810ccb7)
        ;

        
    
</script>