<!DOCTYPE html>
<head>    
    <meta http-equiv="content-type" content="text/html; charset=UTF-8" />
    
        <script>
            L_NO_TOUCH = false;
            L_DISABLE_3D = false;
        </script>
    
    <style>html, body {width: 100%;height: 100%;margin: 0;padding: 0;}</style>
    <style>#map {position:absolute;top:0;bottom:0;right:0;left:0;}</style>
    <script src="https://cdn.jsdelivr.net/npm/leaflet@1.6.0/dist/leaflet.js"></script>
    <script src="https://code.jquery.com/jquery-1.12.4.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/js/bootstrap.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/Leaflet.awesome-markers/2.0.2/leaflet.awesome-markers.js"></script>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/leaflet@1.6.0/dist/leaflet.css"/>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css"/>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap-theme.min.css"/>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.6.3/css/font-awesome.min.css"/>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/Leaflet.awesome-markers/2.0.2/leaflet.awesome-markers.css"/>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/gh/python-visualization/folium/folium/templates/leaflet.awesome.rotate.min.css"/>
    
            <meta name="viewport" content="width=device-width,
                initial-scale=1.0, maximum-scale=1.0, user-scalable=no" />
            <style>
                #map_8568b88367374118bbaccce81528804c {
                    position: relative;
                    width: 100.0%;
                    height: 100.0%;
                    left: 0.0%;
                    top: 0.0%;
                }
            </style>
        
    <script src="https://cdnjs.cloudflare.com/ajax/libs/leaflet.markercluster/1.1.0/leaflet.markercluster.js"></script>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/leaflet.markercluster/1.1.0/MarkerCluster.css"/>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/leaflet.markercluster/1.1.0/MarkerCluster.Default.css"/>
</head>
<body>    
    
            <div class="folium-map" id="map_8568b88367374118bbaccce81528804c" ></div>
        
</body>
<script>    
    
            var map_8568b88367374118bbaccce81528804c = L.map(
                "map_8568b88367374118bbaccce81528804c",
                {
                    center: [-33.4, 18.8],
                    crs: L.CRS.EPSG3857,
                    zoom: 8,
                    zoomControl: true,
                    preferCanvas: false,
                }
            );

            

        
    
            var tile_layer_f8273551d45e4fc9832345ddd8c302be = L.tileLayer(
                "https://{s}.tile.openstreetmap.org/{z}/{x}/{y}.png",
                {"attribution": "Data by \u0026copy; \u003ca href=\"http://openstreetmap.org\"\u003eOpenStreetMap\u003c/a\u003e, under \u003ca href=\"http://www.openstreetmap.org/copyright\"\u003eODbL\u003c/a\u003e.", "detectRetina": false, "maxNativeZoom": 18, "maxZoom": 18, "minZoom": 0, "noWrap": false, "opacity": 1, "subdomains": "abc", "tms": false}
            ).addTo(map_8568b88367374118bbaccce81528804c);
        
    
            var marker_cluster_04ef84049c9d4febafa769dfad3627b6 = L.markerClusterGroup(
                {}
            );
            map_8568b88367374118bbaccce81528804c.addLayer(marker_cluster_04ef84049c9d4febafa769dfad3627b6);
        
    
            var marker_e08a6ec3631f48968b5cbe1532f4c0de = L.marker(
                [11.5024338, 17.7578122],
                {}
            ).addTo(marker_cluster_04ef84049c9d4febafa769dfad3627b6);
        
    
        var popup_d30fc5a6184843a3bb008f4dd75db6cd = L.popup({"maxWidth": 400});

        
            var html_3e7348beb97f426fa3edb05fc2e87805 = $(`<div id="html_3e7348beb97f426fa3edb05fc2e87805" style="width: 100.0%; height: 100.0%;">Africa <br> <a href=https://www.picuki.com/media/2530775927641018536 > See Post</div>`)[0];
            popup_d30fc5a6184843a3bb008f4dd75db6cd.setContent(html_3e7348beb97f426fa3edb05fc2e87805);
        

        marker_e08a6ec3631f48968b5cbe1532f4c0de.bindPopup(popup_d30fc5a6184843a3bb008f4dd75db6cd)
        ;

        
    
    
            var marker_5f5fbeadcaa745e6b129e42d69d58521 = L.marker(
                [-34.23, 19.428333],
                {}
            ).addTo(marker_cluster_04ef84049c9d4febafa769dfad3627b6);
        
    
        var popup_221771747c3a43a7a749982cd085a5ad = L.popup({"maxWidth": 400});

        
            var html_aedb73617ad5492aa2c83695fa16c7bc = $(`<div id="html_aedb73617ad5492aa2c83695fa16c7bc" style="width: 100.0%; height: 100.0%;">Caledon, Western Cape <br> <a href=https://www.picuki.com/media/2534834726714481670 > See Post</div>`)[0];
            popup_221771747c3a43a7a749982cd085a5ad.setContent(html_aedb73617ad5492aa2c83695fa16c7bc);
        

        marker_5f5fbeadcaa745e6b129e42d69d58521.bindPopup(popup_221771747c3a43a7a749982cd085a5ad)
        ;

        
    
    
            var marker_7a647cf0304b43d3bd9de76a7c4b5785 = L.marker(
                [-34.0775777, 18.356445],
                {}
            ).addTo(marker_cluster_04ef84049c9d4febafa769dfad3627b6);
        
    
        var popup_eda7d31d36214799b4f8023ca3c3a892 = L.popup({"maxWidth": 400});

        
            var html_2f76b8e467e54fb18ce38932fe62808d = $(`<div id="html_2f76b8e467e54fb18ce38932fe62808d" style="width: 100.0%; height: 100.0%;">Chapman’s Peak View Point <br> <a href=https://www.picuki.com/media/2539260610150175754 > See Post</div>`)[0];
            popup_eda7d31d36214799b4f8023ca3c3a892.setContent(html_2f76b8e467e54fb18ce38932fe62808d);
        

        marker_7a647cf0304b43d3bd9de76a7c4b5785.bindPopup(popup_eda7d31d36214799b4f8023ca3c3a892)
        ;

        
    
    
            var marker_7e8b0489a262435ba643164a28518951 = L.marker(
                [-33.9734352, 18.469151231773292],
                {}
            ).addTo(marker_cluster_04ef84049c9d4febafa769dfad3627b6);
        
    
        var popup_731d9a460edf46bf943805706c6badb5 = L.popup({"maxWidth": 400});

        
            var html_9bc899966d314f8897e6b415d1dff586 = $(`<div id="html_9bc899966d314f8897e6b415d1dff586" style="width: 100.0%; height: 100.0%;">Newlands Cricket Ground <br> <a href=https://www.picuki.com/media/2541353923355583137 > See Post</div>`)[0];
            popup_731d9a460edf46bf943805706c6badb5.setContent(html_9bc899966d314f8897e6b415d1dff586);
        

        marker_7e8b0489a262435ba643164a28518951.bindPopup(popup_731d9a460edf46bf943805706c6badb5)
        ;

        
    
    
            var marker_0fb41de9bf5f45e2948f211cf60fcc34 = L.marker(
                [-28.8166236, 24.991639],
                {}
            ).addTo(marker_cluster_04ef84049c9d4febafa769dfad3627b6);
        
    
        var popup_73bc70255c7b4923aa196dfd44a380c6 = L.popup({"maxWidth": 400});

        
            var html_178d95ab755e42c68b28a9e60b3e8915 = $(`<div id="html_178d95ab755e42c68b28a9e60b3e8915" style="width: 100.0%; height: 100.0%;">South Africa <br> <a href=https://www.picuki.com/media/2548601227858865500 > See Post</div>`)[0];
            popup_73bc70255c7b4923aa196dfd44a380c6.setContent(html_178d95ab755e42c68b28a9e60b3e8915);
        

        marker_0fb41de9bf5f45e2948f211cf60fcc34.bindPopup(popup_73bc70255c7b4923aa196dfd44a380c6)
        ;

        
    
    
            var marker_6c235e86a327414fb721b7b2d3e7b32f = L.marker(
                [-34.123956, 18.4530177],
                {}
            ).addTo(marker_cluster_04ef84049c9d4febafa769dfad3627b6);
        
    
        var popup_a7bc3c1d44724aaebac9fc010704150b = L.popup({"maxWidth": 400});

        
            var html_95adff764b384c90a949509770c737bd = $(`<div id="html_95adff764b384c90a949509770c737bd" style="width: 100.0%; height: 100.0%;">Dalebrook Tidal Pool <br> <a href=https://www.picuki.com/media/2550823706056584183 > See Post</div>`)[0];
            popup_a7bc3c1d44724aaebac9fc010704150b.setContent(html_95adff764b384c90a949509770c737bd);
        

        marker_6c235e86a327414fb721b7b2d3e7b32f.bindPopup(popup_a7bc3c1d44724aaebac9fc010704150b)
        ;

        
    
    
            var marker_97d8c8b781524bde857387b48f5cdeed = L.marker(
                [-33.9509089, 18.37773090386552],
                {}
            ).addTo(marker_cluster_04ef84049c9d4febafa769dfad3627b6);
        
    
        var popup_f4a9a90c9cbe47529b67aa1983650f4f = L.popup({"maxWidth": 400});

        
            var html_17351f9dacf04601ba4c4e8913d83fa0 = $(`<div id="html_17351f9dacf04601ba4c4e8913d83fa0" style="width: 100.0%; height: 100.0%;">Camps Bay Beach ,Cape Town <br> <a href=https://www.picuki.com/media/2552924793311875852 > See Post</div>`)[0];
            popup_f4a9a90c9cbe47529b67aa1983650f4f.setContent(html_17351f9dacf04601ba4c4e8913d83fa0);
        

        marker_97d8c8b781524bde857387b48f5cdeed.bindPopup(popup_f4a9a90c9cbe47529b67aa1983650f4f)
        ;

        
    
    
            var marker_6051fa5cc59e46a4bc3355b60e0cb964 = L.marker(
                [-33.9617001, 18.422761521953632],
                {}
            ).addTo(marker_cluster_04ef84049c9d4febafa769dfad3627b6);
        
    
        var popup_9637d6bd3977449a82ee0c419d7ab6a9 = L.popup({"maxWidth": 400});

        
            var html_37d3460e022e4cd6b6319a5c41cdfd00 = $(`<div id="html_37d3460e022e4cd6b6319a5c41cdfd00" style="width: 100.0%; height: 100.0%;">Table Mountain National Park <br> <a href=https://www.picuki.com/media/2555107219152849651 > See Post</div>`)[0];
            popup_9637d6bd3977449a82ee0c419d7ab6a9.setContent(html_37d3460e022e4cd6b6319a5c41cdfd00);
        

        marker_6051fa5cc59e46a4bc3355b60e0cb964.bindPopup(popup_9637d6bd3977449a82ee0c419d7ab6a9)
        ;

        
    
    
            var marker_397634b384df48429bdef84b45140d02 = L.marker(
                [-32.3650375, 19.112815948553493],
                {}
            ).addTo(marker_cluster_04ef84049c9d4febafa769dfad3627b6);
        
    
        var popup_15bbe3724874462893f9af0e367d64de = L.popup({"maxWidth": 400});

        
            var html_234d5bb6b2e24a9bb0d1e746baaa5169 = $(`<div id="html_234d5bb6b2e24a9bb0d1e746baaa5169" style="width: 100.0%; height: 100.0%;">Cederberg Wilderness Area <br> <a href=https://www.picuki.com/media/2556579435820378016 > See Post</div>`)[0];
            popup_15bbe3724874462893f9af0e367d64de.setContent(html_234d5bb6b2e24a9bb0d1e746baaa5169);
        

        marker_397634b384df48429bdef84b45140d02.bindPopup(popup_15bbe3724874462893f9af0e367d64de)
        ;

        
    
</script>