<!DOCTYPE html>
<head>    
    <meta http-equiv="content-type" content="text/html; charset=UTF-8" />
    
        <script>
            L_NO_TOUCH = false;
            L_DISABLE_3D = false;
        </script>
    
    <style>html, body {width: 100%;height: 100%;margin: 0;padding: 0;}</style>
    <style>#map {position:absolute;top:0;bottom:0;right:0;left:0;}</style>
    <script src="https://cdn.jsdelivr.net/npm/leaflet@1.6.0/dist/leaflet.js"></script>
    <script src="https://code.jquery.com/jquery-1.12.4.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/js/bootstrap.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/Leaflet.awesome-markers/2.0.2/leaflet.awesome-markers.js"></script>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/leaflet@1.6.0/dist/leaflet.css"/>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css"/>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap-theme.min.css"/>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.6.3/css/font-awesome.min.css"/>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/Leaflet.awesome-markers/2.0.2/leaflet.awesome-markers.css"/>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/gh/python-visualization/folium/folium/templates/leaflet.awesome.rotate.min.css"/>
    
            <meta name="viewport" content="width=device-width,
                initial-scale=1.0, maximum-scale=1.0, user-scalable=no" />
            <style>
                #map_997dc2f259c74ecb810b246e51224205 {
                    position: relative;
                    width: 100.0%;
                    height: 100.0%;
                    left: 0.0%;
                    top: 0.0%;
                }
            </style>
        
    <script src="https://cdnjs.cloudflare.com/ajax/libs/leaflet.markercluster/1.1.0/leaflet.markercluster.js"></script>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/leaflet.markercluster/1.1.0/MarkerCluster.css"/>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/leaflet.markercluster/1.1.0/MarkerCluster.Default.css"/>
</head>
<body>    
    
            <div class="folium-map" id="map_997dc2f259c74ecb810b246e51224205" ></div>
        
</body>
<script>    
    
            var map_997dc2f259c74ecb810b246e51224205 = L.map(
                "map_997dc2f259c74ecb810b246e51224205",
                {
                    center: [-25.25, 21.75],
                    crs: L.CRS.EPSG3857,
                    zoom: 5,
                    zoomControl: true,
                    preferCanvas: false,
                }
            );

            

        
    
            var tile_layer_531fbbe435bf4447b2e0121314209374 = L.tileLayer(
                "https://{s}.tile.openstreetmap.org/{z}/{x}/{y}.png",
                {"attribution": "Data by \u0026copy; \u003ca href=\"http://openstreetmap.org\"\u003eOpenStreetMap\u003c/a\u003e, under \u003ca href=\"http://www.openstreetmap.org/copyright\"\u003eODbL\u003c/a\u003e.", "detectRetina": false, "maxNativeZoom": 18, "maxZoom": 18, "minZoom": 0, "noWrap": false, "opacity": 1, "subdomains": "abc", "tms": false}
            ).addTo(map_997dc2f259c74ecb810b246e51224205);
        
    
            var poly_line_c1c3806a0e114be3ad53f5261c977d10 = L.polyline(
                [[-25.999262, 28.125912], [-28.5175205, 20.069182129926723], [-27.6632248, 17.780115582608694], [-27.6101636, 17.6060746], [-26.6500086, 15.157266], [-24.4910839, 15.8032097], [-22.6767841, 14.5313988]],
                {"bubblingMouseEvents": true, "color": "red", "dashArray": null, "dashOffset": null, "fill": false, "fillColor": "red", "fillOpacity": 0.2, "fillRule": "evenodd", "lineCap": "round", "lineJoin": "round", "noClip": false, "opacity": 0.7, "smoothFactor": 1.0, "stroke": true, "weight": 2}
            ).addTo(map_997dc2f259c74ecb810b246e51224205);
        
    
            var marker_cluster_9a0af0687573471d979d96cfb590f9bb = L.markerClusterGroup(
                {}
            );
            map_997dc2f259c74ecb810b246e51224205.addLayer(marker_cluster_9a0af0687573471d979d96cfb590f9bb);
        
    
            var marker_b98c8c326d244f808e035a84dd1fc5d4 = L.marker(
                [-25.999262, 28.125912],
                {}
            ).addTo(marker_cluster_9a0af0687573471d979d96cfb590f9bb);
        
    
        var popup_7f46907a6f4e4f8a91255e1c67bde482 = L.popup({"maxWidth": 400});

        
            var html_2f1cfc12b55a4f439bb4f550827295a9 = $(`<div id="html_2f1cfc12b55a4f439bb4f550827295a9" style="width: 100.0%; height: 100.0%;">Midrand, Gauteng <br> <a href=https://www.picuki.com/media/2542371069725160604 > See Post</div>`)[0];
            popup_7f46907a6f4e4f8a91255e1c67bde482.setContent(html_2f1cfc12b55a4f439bb4f550827295a9);
        

        marker_b98c8c326d244f808e035a84dd1fc5d4.bindPopup(popup_7f46907a6f4e4f8a91255e1c67bde482)
        ;

        
    
    
            var marker_410cd479b81147aaa247bbba28920b41 = L.marker(
                [-28.5175205, 20.069182129926723],
                {}
            ).addTo(marker_cluster_9a0af0687573471d979d96cfb590f9bb);
        
    
        var popup_8cee48b2ea784e1396b02a0e6c12a14d = L.popup({"maxWidth": 400});

        
            var html_65a8e3e7b2a24ed8a73e3fc853aee936 = $(`<div id="html_65a8e3e7b2a24ed8a73e3fc853aee936" style="width: 100.0%; height: 100.0%;">Augrabies Falls National Park <br> <a href=https://www.picuki.com/media/2546094387794720807 > See Post</div>`)[0];
            popup_8cee48b2ea784e1396b02a0e6c12a14d.setContent(html_65a8e3e7b2a24ed8a73e3fc853aee936);
        

        marker_410cd479b81147aaa247bbba28920b41.bindPopup(popup_8cee48b2ea784e1396b02a0e6c12a14d)
        ;

        
    
    
            var marker_07d1be9af08d48a491c690bfddcf03cd = L.marker(
                [-27.6632248, 17.780115582608694],
                {}
            ).addTo(marker_cluster_9a0af0687573471d979d96cfb590f9bb);
        
    
        var popup_9d92cdca0c954ee9a0d7f40d6b3a1692 = L.popup({"maxWidth": 400});

        
            var html_3ea431f120b144d2829c213bd3ef8bad = $(`<div id="html_3ea431f120b144d2829c213bd3ef8bad" style="width: 100.0%; height: 100.0%;">Gondwana Cañon Lodge <br> <a href=https://www.picuki.com/media/2547179909287833695 > See Post</div>`)[0];
            popup_9d92cdca0c954ee9a0d7f40d6b3a1692.setContent(html_3ea431f120b144d2829c213bd3ef8bad);
        

        marker_07d1be9af08d48a491c690bfddcf03cd.bindPopup(popup_9d92cdca0c954ee9a0d7f40d6b3a1692)
        ;

        
    
    
            var marker_3bfd56a5325d48d5896a2cbca54e4907 = L.marker(
                [-27.6101636, 17.6060746],
                {}
            ).addTo(marker_cluster_9a0af0687573471d979d96cfb590f9bb);
        
    
        var popup_65a1cd302a2747479f51914391783bfb = L.popup({"maxWidth": 400});

        
            var html_ef5b4e7e46864776bc8b67f95a533a99 = $(`<div id="html_ef5b4e7e46864776bc8b67f95a533a99" style="width: 100.0%; height: 100.0%;">Fish River Canyon <br> <a href=https://www.picuki.com/media/2548094281115991889 > See Post</div>`)[0];
            popup_65a1cd302a2747479f51914391783bfb.setContent(html_ef5b4e7e46864776bc8b67f95a533a99);
        

        marker_3bfd56a5325d48d5896a2cbca54e4907.bindPopup(popup_65a1cd302a2747479f51914391783bfb)
        ;

        
    
    
            var marker_833b42156ca441baae9a5696d3bed243 = L.marker(
                [-26.6500086, 15.157266],
                {}
            ).addTo(marker_cluster_9a0af0687573471d979d96cfb590f9bb);
        
    
        var popup_b89fa449a8a243f8aa4a72a8c687cb31 = L.popup({"maxWidth": 400});

        
            var html_f1d4989d42cf445c978205d5c817cbb3 = $(`<div id="html_f1d4989d42cf445c978205d5c817cbb3" style="width: 100.0%; height: 100.0%;">Luderitz-NAMIBIA <br> <a href=https://www.picuki.com/media/2548099983087509980 > See Post</div>`)[0];
            popup_b89fa449a8a243f8aa4a72a8c687cb31.setContent(html_f1d4989d42cf445c978205d5c817cbb3);
        

        marker_833b42156ca441baae9a5696d3bed243.bindPopup(popup_b89fa449a8a243f8aa4a72a8c687cb31)
        ;

        
    
    
            var marker_7f244964bf674c7c9b8d5903e715f0b0 = L.marker(
                [-24.4910839, 15.8032097],
                {}
            ).addTo(marker_cluster_9a0af0687573471d979d96cfb590f9bb);
        
    
        var popup_2127ed70d7f842f1952caaee75558420 = L.popup({"maxWidth": 400});

        
            var html_71bfa6dfced64f629d038effddc41f9e = $(`<div id="html_71bfa6dfced64f629d038effddc41f9e" style="width: 100.0%; height: 100.0%;">Sossus Oasis Camp Site,  Namibia <br> <a href=https://www.picuki.com/media/2548828040106835182 > See Post</div>`)[0];
            popup_2127ed70d7f842f1952caaee75558420.setContent(html_71bfa6dfced64f629d038effddc41f9e);
        

        marker_7f244964bf674c7c9b8d5903e715f0b0.bindPopup(popup_2127ed70d7f842f1952caaee75558420)
        ;

        
    
    
            var marker_61a0b663c62240c1b4060508ef590773 = L.marker(
                [-22.6767841, 14.5313988],
                {}
            ).addTo(marker_cluster_9a0af0687573471d979d96cfb590f9bb);
        
    
        var popup_9a83587e21894144b0ff8d56040bc18c = L.popup({"maxWidth": 400});

        
            var html_18fdf15bdf714960a140647fdf9b2051 = $(`<div id="html_18fdf15bdf714960a140647fdf9b2051" style="width: 100.0%; height: 100.0%;">Swakopmund, Namibia <br> <a href=https://www.picuki.com/media/2551861944002688643 > See Post</div>`)[0];
            popup_9a83587e21894144b0ff8d56040bc18c.setContent(html_18fdf15bdf714960a140647fdf9b2051);
        

        marker_61a0b663c62240c1b4060508ef590773.bindPopup(popup_9a83587e21894144b0ff8d56040bc18c)
        ;

        
    
</script>