<!DOCTYPE html>
<head>    
    <meta http-equiv="content-type" content="text/html; charset=UTF-8" />
    
        <script>
            L_NO_TOUCH = false;
            L_DISABLE_3D = false;
        </script>
    
    <style>html, body {width: 100%;height: 100%;margin: 0;padding: 0;}</style>
    <style>#map {position:absolute;top:0;bottom:0;right:0;left:0;}</style>
    <script src="https://cdn.jsdelivr.net/npm/leaflet@1.6.0/dist/leaflet.js"></script>
    <script src="https://code.jquery.com/jquery-1.12.4.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/js/bootstrap.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/Leaflet.awesome-markers/2.0.2/leaflet.awesome-markers.js"></script>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/leaflet@1.6.0/dist/leaflet.css"/>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css"/>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap-theme.min.css"/>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.6.3/css/font-awesome.min.css"/>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/Leaflet.awesome-markers/2.0.2/leaflet.awesome-markers.css"/>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/gh/python-visualization/folium/folium/templates/leaflet.awesome.rotate.min.css"/>
    
            <meta name="viewport" content="width=device-width,
                initial-scale=1.0, maximum-scale=1.0, user-scalable=no" />
            <style>
                #map_a98cde49374a4b119b5274708dedf5e0 {
                    position: relative;
                    width: 100.0%;
                    height: 100.0%;
                    left: 0.0%;
                    top: 0.0%;
                }
            </style>
        
    <script src="https://cdnjs.cloudflare.com/ajax/libs/leaflet.markercluster/1.1.0/leaflet.markercluster.js"></script>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/leaflet.markercluster/1.1.0/MarkerCluster.css"/>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/leaflet.markercluster/1.1.0/MarkerCluster.Default.css"/>
</head>
<body>    
    
            <div class="folium-map" id="map_a98cde49374a4b119b5274708dedf5e0" ></div>
        
</body>
<script>    
    
            var map_a98cde49374a4b119b5274708dedf5e0 = L.map(
                "map_a98cde49374a4b119b5274708dedf5e0",
                {
                    center: [55.0, 2.64],
                    crs: L.CRS.EPSG3857,
                    zoom: 4,
                    zoomControl: true,
                    preferCanvas: false,
                }
            );

            

        
    
            var tile_layer_82259176a8e44167a06095204d093167 = L.tileLayer(
                "https://{s}.tile.openstreetmap.org/{z}/{x}/{y}.png",
                {"attribution": "Data by \u0026copy; \u003ca href=\"http://openstreetmap.org\"\u003eOpenStreetMap\u003c/a\u003e, under \u003ca href=\"http://www.openstreetmap.org/copyright\"\u003eODbL\u003c/a\u003e.", "detectRetina": false, "maxNativeZoom": 18, "maxZoom": 18, "minZoom": 0, "noWrap": false, "opacity": 1, "subdomains": "abc", "tms": false}
            ).addTo(map_a98cde49374a4b119b5274708dedf5e0);
        
    
            var marker_cluster_fc3de22ebd7c4b239e3d5ece24fdc070 = L.markerClusterGroup(
                {}
            );
            map_a98cde49374a4b119b5274708dedf5e0.addLayer(marker_cluster_fc3de22ebd7c4b239e3d5ece24fdc070);
        
    
            var marker_c1efe343076d4d93aa03308a0e44ea23 = L.marker(
                [58.335947950000005, -4.9132184955527745],
                {}
            ).addTo(marker_cluster_fc3de22ebd7c4b239e3d5ece24fdc070);
        
    
        var popup_48cd1826958c41f09f1871175c76b61b = L.popup({"maxWidth": 400});

        
            var html_0b88f40e042c42959448d96653318f5f = $(`<div id="html_0b88f40e042c42959448d96653318f5f" style="width: 100.0%; height: 100.0%;">Loch Stack <br> <a href=https://www.picuki.com/media/2526415468283993940 > See Post</div>`)[0];
            popup_48cd1826958c41f09f1871175c76b61b.setContent(html_0b88f40e042c42959448d96653318f5f);
        

        marker_c1efe343076d4d93aa03308a0e44ea23.bindPopup(popup_48cd1826958c41f09f1871175c76b61b)
        ;

        
    
    
            var marker_3e1ddea4e7d04bd08b18e243f03495d5 = L.marker(
                [58.0441506, -5.207476],
                {}
            ).addTo(marker_cluster_fc3de22ebd7c4b239e3d5ece24fdc070);
        
    
        var popup_006a17a9370b465087a5c4c1e3be91ce = L.popup({"maxWidth": 400});

        
            var html_2dfe6d100d0c41b6b6cdfe4a07092089 = $(`<div id="html_2dfe6d100d0c41b6b6cdfe4a07092089" style="width: 100.0%; height: 100.0%;">Stac Pollaidh <br> <a href=https://www.picuki.com/media/2527146168570101401 > See Post</div>`)[0];
            popup_006a17a9370b465087a5c4c1e3be91ce.setContent(html_2dfe6d100d0c41b6b6cdfe4a07092089);
        

        marker_3e1ddea4e7d04bd08b18e243f03495d5.bindPopup(popup_006a17a9370b465087a5c4c1e3be91ce)
        ;

        
    
    
            var marker_14c03c301154417a8eba4184b37d3e03 = L.marker(
                [60.1329516, 6.7540404],
                {}
            ).addTo(marker_cluster_fc3de22ebd7c4b239e3d5ece24fdc070);
        
    
        var popup_12588d858d86485f86aa7229f8c3dc26 = L.popup({"maxWidth": 400});

        
            var html_028a55e3b7534b8dafc9bc0157f529ac = $(`<div id="html_028a55e3b7534b8dafc9bc0157f529ac" style="width: 100.0%; height: 100.0%;">Trolltunga, Norway <br> <a href=https://www.picuki.com/media/2527863899632422461 > See Post</div>`)[0];
            popup_12588d858d86485f86aa7229f8c3dc26.setContent(html_028a55e3b7534b8dafc9bc0157f529ac);
        

        marker_14c03c301154417a8eba4184b37d3e03.bindPopup(popup_12588d858d86485f86aa7229f8c3dc26)
        ;

        
    
    
            var marker_af0000609df24e5a839a3aeb98d82537 = L.marker(
                [56.5667883, -4.8707776],
                {}
            ).addTo(marker_cluster_fc3de22ebd7c4b239e3d5ece24fdc070);
        
    
        var popup_915d32f862b94881b04dc4c5a35efacd = L.popup({"maxWidth": 400});

        
            var html_569958eca9b6474392c58d3545507fba = $(`<div id="html_569958eca9b6474392c58d3545507fba" style="width: 100.0%; height: 100.0%;">Aonach Eagach <br> <a href=https://www.picuki.com/media/2532229571183335031 > See Post</div>`)[0];
            popup_915d32f862b94881b04dc4c5a35efacd.setContent(html_569958eca9b6474392c58d3545507fba);
        

        marker_af0000609df24e5a839a3aeb98d82537.bindPopup(popup_915d32f862b94881b04dc4c5a35efacd)
        ;

        
    
    
            var marker_b167890bf1fd406ea3dfee4db72ce2b8 = L.marker(
                [46.6178075, 12.298379872784528],
                {}
            ).addTo(marker_cluster_fc3de22ebd7c4b239e3d5ece24fdc070);
        
    
        var popup_84cce9e88bac446dbbbd6c94ac3eac44 = L.popup({"maxWidth": 400});

        
            var html_166157318dc446bca28766b7074d9135 = $(`<div id="html_166157318dc446bca28766b7074d9135" style="width: 100.0%; height: 100.0%;">Tre Cime di Lavaredo <br> <a href=https://www.picuki.com/media/2534334471765712642 > See Post</div>`)[0];
            popup_84cce9e88bac446dbbbd6c94ac3eac44.setContent(html_166157318dc446bca28766b7074d9135);
        

        marker_b167890bf1fd406ea3dfee4db72ce2b8.bindPopup(popup_84cce9e88bac446dbbbd6c94ac3eac44)
        ;

        
    
    
            var marker_f589b81d0b304ef8a42704bba906b7b7 = L.marker(
                [57.8023457, -5.2542535],
                {}
            ).addTo(marker_cluster_fc3de22ebd7c4b239e3d5ece24fdc070);
        
    
        var popup_d996a9ebcc304dce8b84b8d7481f524d = L.popup({"maxWidth": 400});

        
            var html_efcd3b19f91e498a95ef8f19aa2d6953 = $(`<div id="html_efcd3b19f91e498a95ef8f19aa2d6953" style="width: 100.0%; height: 100.0%;">An Teallach <br> <a href=https://www.picuki.com/media/2536575135375048202 > See Post</div>`)[0];
            popup_d996a9ebcc304dce8b84b8d7481f524d.setContent(html_efcd3b19f91e498a95ef8f19aa2d6953);
        

        marker_f589b81d0b304ef8a42704bba906b7b7.bindPopup(popup_d996a9ebcc304dce8b84b8d7481f524d)
        ;

        
    
    
            var marker_655607e7c0fd4c6ba89af54509ad3996 = L.marker(
                [-29.4779935, 29.2673172],
                {}
            ).addTo(marker_cluster_fc3de22ebd7c4b239e3d5ece24fdc070);
        
    
        var popup_08ea600f0de8458398e36a9d86f1d96b = L.popup({"maxWidth": 400});

        
            var html_6dab360d469341e8b139a3ab5fd3f702 = $(`<div id="html_6dab360d469341e8b139a3ab5fd3f702" style="width: 100.0%; height: 100.0%;">Drakensberg <br> <a href=https://www.picuki.com/media/2540934891070002241 > See Post</div>`)[0];
            popup_08ea600f0de8458398e36a9d86f1d96b.setContent(html_6dab360d469341e8b139a3ab5fd3f702);
        

        marker_655607e7c0fd4c6ba89af54509ad3996.bindPopup(popup_08ea600f0de8458398e36a9d86f1d96b)
        ;

        
    
    
            var marker_ac1747cd0b9d406f91f2209b7e90db32 = L.marker(
                [56.8, -5.0],
                {}
            ).addTo(marker_cluster_fc3de22ebd7c4b239e3d5ece24fdc070);
        
    
        var popup_41d435787782420c8c5fde4f0a647967 = L.popup({"maxWidth": 400});

        
            var html_5363d2dc4d424a008dfbfd41936627ef = $(`<div id="html_5363d2dc4d424a008dfbfd41936627ef" style="width: 100.0%; height: 100.0%;">Scottish Highlands <br> <a href=https://www.picuki.com/media/2541619132057513071 > See Post</div>`)[0];
            popup_41d435787782420c8c5fde4f0a647967.setContent(html_5363d2dc4d424a008dfbfd41936627ef);
        

        marker_ac1747cd0b9d406f91f2209b7e90db32.bindPopup(popup_41d435787782420c8c5fde4f0a647967)
        ;

        
    
    
            var marker_1b0dec33428a4308a02ee0be1defb397 = L.marker(
                [58.1379667, -4.8585225],
                {}
            ).addTo(marker_cluster_fc3de22ebd7c4b239e3d5ece24fdc070);
        
    
        var popup_51338d0c788041a8b0f4a13f6a93ee71 = L.popup({"maxWidth": 400});

        
            var html_05c9d1ab5d80414ab9982ae3f3113056 = $(`<div id="html_05c9d1ab5d80414ab9982ae3f3113056" style="width: 100.0%; height: 100.0%;">Assynt <br> <a href=https://www.picuki.com/media/2545936899699063213 > See Post</div>`)[0];
            popup_51338d0c788041a8b0f4a13f6a93ee71.setContent(html_05c9d1ab5d80414ab9982ae3f3113056);
        

        marker_1b0dec33428a4308a02ee0be1defb397.bindPopup(popup_51338d0c788041a8b0f4a13f6a93ee71)
        ;

        
    
</script>