<!DOCTYPE html>
<head>    
    <meta http-equiv="content-type" content="text/html; charset=UTF-8" />
    
        <script>
            L_NO_TOUCH = false;
            L_DISABLE_3D = false;
        </script>
    
    <style>html, body {width: 100%;height: 100%;margin: 0;padding: 0;}</style>
    <style>#map {position:absolute;top:0;bottom:0;right:0;left:0;}</style>
    <script src="https://cdn.jsdelivr.net/npm/leaflet@1.6.0/dist/leaflet.js"></script>
    <script src="https://code.jquery.com/jquery-1.12.4.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/js/bootstrap.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/Leaflet.awesome-markers/2.0.2/leaflet.awesome-markers.js"></script>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/leaflet@1.6.0/dist/leaflet.css"/>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css"/>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap-theme.min.css"/>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.6.3/css/font-awesome.min.css"/>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/Leaflet.awesome-markers/2.0.2/leaflet.awesome-markers.css"/>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/gh/python-visualization/folium/folium/templates/leaflet.awesome.rotate.min.css"/>
    
            <meta name="viewport" content="width=device-width,
                initial-scale=1.0, maximum-scale=1.0, user-scalable=no" />
            <style>
                #map_11b83c34b5cd4bc6804db0bf450a2de2 {
                    position: relative;
                    width: 100.0%;
                    height: 100.0%;
                    left: 0.0%;
                    top: 0.0%;
                }
            </style>
        
    <script src="https://cdnjs.cloudflare.com/ajax/libs/leaflet.markercluster/1.1.0/leaflet.markercluster.js"></script>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/leaflet.markercluster/1.1.0/MarkerCluster.css"/>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/leaflet.markercluster/1.1.0/MarkerCluster.Default.css"/>
</head>
<body>    
    
            <div class="folium-map" id="map_11b83c34b5cd4bc6804db0bf450a2de2" ></div>
        
</body>
<script>    
    
            var map_11b83c34b5cd4bc6804db0bf450a2de2 = L.map(
                "map_11b83c34b5cd4bc6804db0bf450a2de2",
                {
                    center: [52.35, 5.3],
                    crs: L.CRS.EPSG3857,
                    zoom: 9,
                    zoomControl: true,
                    preferCanvas: false,
                }
            );

            

        
    
            var tile_layer_e2e8603214374573a134b91d15b6f0a6 = L.tileLayer(
                "https://{s}.tile.openstreetmap.org/{z}/{x}/{y}.png",
                {"attribution": "Data by \u0026copy; \u003ca href=\"http://openstreetmap.org\"\u003eOpenStreetMap\u003c/a\u003e, under \u003ca href=\"http://www.openstreetmap.org/copyright\"\u003eODbL\u003c/a\u003e.", "detectRetina": false, "maxNativeZoom": 18, "maxZoom": 18, "minZoom": 0, "noWrap": false, "opacity": 1, "subdomains": "abc", "tms": false}
            ).addTo(map_11b83c34b5cd4bc6804db0bf450a2de2);
        
    
            var marker_cluster_84b39b7e7e43423f84d3b56db98eeb47 = L.markerClusterGroup(
                {}
            );
            map_11b83c34b5cd4bc6804db0bf450a2de2.addLayer(marker_cluster_84b39b7e7e43423f84d3b56db98eeb47);
        
    
            var marker_97defbd19f3f4f07b93258828b6f4602 = L.marker(
                [17.2960426, -62.7241092],
                {}
            ).addTo(marker_cluster_84b39b7e7e43423f84d3b56db98eeb47);
        
    
        var popup_c8c12231fb6849dcbd732a720b948f80 = L.popup({"maxWidth": 400});

        
            var html_d05f9dce90354482a5cda8e581a6a7cc = $(`<div id="html_d05f9dce90354482a5cda8e581a6a7cc" style="width: 100.0%; height: 100.0%;">Travel The World <br> <a href=https://www.picuki.com/media/2364706437060842883 > See Post</div>`)[0];
            popup_c8c12231fb6849dcbd732a720b948f80.setContent(html_d05f9dce90354482a5cda8e581a6a7cc);
        

        marker_97defbd19f3f4f07b93258828b6f4602.bindPopup(popup_c8c12231fb6849dcbd732a720b948f80)
        ;

        
    
    
            var marker_1f4760ac29834ae2b7b903432ea5c619 = L.marker(
                [52.3578866, 4.867116659586616],
                {}
            ).addTo(marker_cluster_84b39b7e7e43423f84d3b56db98eeb47);
        
    
        var popup_7d2da1173cce4b9ba9fd018e8624101e = L.popup({"maxWidth": 400});

        
            var html_340e63d6d85d4c05b2c7144ff50ecb76 = $(`<div id="html_340e63d6d85d4c05b2c7144ff50ecb76" style="width: 100.0%; height: 100.0%;">Vondelpark, Amsterdam <br> <a href=https://www.picuki.com/media/2370365663556844327 > See Post</div>`)[0];
            popup_7d2da1173cce4b9ba9fd018e8624101e.setContent(html_340e63d6d85d4c05b2c7144ff50ecb76);
        

        marker_1f4760ac29834ae2b7b903432ea5c619.bindPopup(popup_7d2da1173cce4b9ba9fd018e8624101e)
        ;

        
    
    
            var marker_f7454e705aad4e9bbd954541d5056af1 = L.marker(
                [52.080985600000005, 5.12768396945229],
                {}
            ).addTo(marker_cluster_84b39b7e7e43423f84d3b56db98eeb47);
        
    
        var popup_0a8954a2c00e43959a2a640883501064 = L.popup({"maxWidth": 400});

        
            var html_e759e45a123d4c5f9d4e7f9cb32b4b95 = $(`<div id="html_e759e45a123d4c5f9d4e7f9cb32b4b95" style="width: 100.0%; height: 100.0%;">Utrecht, Netherlands <br> <a href=https://www.picuki.com/media/2384227489897858797 > See Post</div>`)[0];
            popup_0a8954a2c00e43959a2a640883501064.setContent(html_e759e45a123d4c5f9d4e7f9cb32b4b95);
        

        marker_f7454e705aad4e9bbd954541d5056af1.bindPopup(popup_0a8954a2c00e43959a2a640883501064)
        ;

        
    
    
            var marker_26f6186d0e1f4339902d3d6c690a4e12 = L.marker(
                [52.3727598, 4.8936041],
                {}
            ).addTo(marker_cluster_84b39b7e7e43423f84d3b56db98eeb47);
        
    
        var popup_9a2ccaeabfb24424acca3a62b23e8d57 = L.popup({"maxWidth": 400});

        
            var html_aa1fc47e07f44cb4b3b249e417632b4d = $(`<div id="html_aa1fc47e07f44cb4b3b249e417632b4d" style="width: 100.0%; height: 100.0%;">Amsterdam, Netherlands <br> <a href=https://www.picuki.com/media/2469807089746669629 > See Post</div>`)[0];
            popup_9a2ccaeabfb24424acca3a62b23e8d57.setContent(html_aa1fc47e07f44cb4b3b249e417632b4d);
        

        marker_26f6186d0e1f4339902d3d6c690a4e12.bindPopup(popup_9a2ccaeabfb24424acca3a62b23e8d57)
        ;

        
    
    
            var marker_32789c6599e040e48e00b322797ed15b = L.marker(
                [52.5001698, 5.7480821],
                {}
            ).addTo(marker_cluster_84b39b7e7e43423f84d3b56db98eeb47);
        
    
        var popup_bbdb544fb374445d9507ec7a97a2f28e = L.popup({"maxWidth": 400});

        
            var html_3c1626b485f14291adaa7138666a9fc0 = $(`<div id="html_3c1626b485f14291adaa7138666a9fc0" style="width: 100.0%; height: 100.0%;">Netherlands <br> <a href=https://www.picuki.com/media/2471323554257792426 > See Post</div>`)[0];
            popup_bbdb544fb374445d9507ec7a97a2f28e.setContent(html_3c1626b485f14291adaa7138666a9fc0);
        

        marker_32789c6599e040e48e00b322797ed15b.bindPopup(popup_bbdb544fb374445d9507ec7a97a2f28e)
        ;

        
    
    
            var marker_7c57274f194e4eae83c78fe27d781c7e = L.marker(
                [46.9599823, 22.0541733],
                {}
            ).addTo(marker_cluster_84b39b7e7e43423f84d3b56db98eeb47);
        
    
        var popup_573419c40e5d4a7c970fd4643413fa22 = L.popup({"maxWidth": 400});

        
            var html_f168a880015f47c399fac992ac403f7d = $(`<div id="html_f168a880015f47c399fac992ac403f7d" style="width: 100.0%; height: 100.0%;">Everywhere <br> <a href=https://www.picuki.com/media/2532722989667306261 > See Post</div>`)[0];
            popup_573419c40e5d4a7c970fd4643413fa22.setContent(html_f168a880015f47c399fac992ac403f7d);
        

        marker_7c57274f194e4eae83c78fe27d781c7e.bindPopup(popup_573419c40e5d4a7c970fd4643413fa22)
        ;

        
    
    
            var marker_7e76ac52020c4f42bf803b69a61a7700 = L.marker(
                [25.2528888, 55.17696777178696],
                {}
            ).addTo(marker_cluster_84b39b7e7e43423f84d3b56db98eeb47);
        
    
        var popup_665bf8245c1541d984542cbc8c0cbc50 = L.popup({"maxWidth": 400});

        
            var html_1d7fbccca6b9422baf1da5c2b86eba91 = $(`<div id="html_1d7fbccca6b9422baf1da5c2b86eba91" style="width: 100.0%; height: 100.0%;">World <br> <a href=https://www.picuki.com/media/2542254476594817363 > See Post</div>`)[0];
            popup_665bf8245c1541d984542cbc8c0cbc50.setContent(html_1d7fbccca6b9422baf1da5c2b86eba91);
        

        marker_7e76ac52020c4f42bf803b69a61a7700.bindPopup(popup_665bf8245c1541d984542cbc8c0cbc50)
        ;

        
    
</script>