<!DOCTYPE html>
<head>    
    <meta http-equiv="content-type" content="text/html; charset=UTF-8" />
    
        <script>
            L_NO_TOUCH = false;
            L_DISABLE_3D = false;
        </script>
    
    <style>html, body {width: 100%;height: 100%;margin: 0;padding: 0;}</style>
    <style>#map {position:absolute;top:0;bottom:0;right:0;left:0;}</style>
    <script src="https://cdn.jsdelivr.net/npm/leaflet@1.6.0/dist/leaflet.js"></script>
    <script src="https://code.jquery.com/jquery-1.12.4.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/js/bootstrap.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/Leaflet.awesome-markers/2.0.2/leaflet.awesome-markers.js"></script>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/leaflet@1.6.0/dist/leaflet.css"/>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css"/>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap-theme.min.css"/>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.6.3/css/font-awesome.min.css"/>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/Leaflet.awesome-markers/2.0.2/leaflet.awesome-markers.css"/>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/gh/python-visualization/folium/folium/templates/leaflet.awesome.rotate.min.css"/>
    
            <meta name="viewport" content="width=device-width,
                initial-scale=1.0, maximum-scale=1.0, user-scalable=no" />
            <style>
                #map_b3bc5c7853d940d3b6c22639013b9ead {
                    position: relative;
                    width: 100.0%;
                    height: 100.0%;
                    left: 0.0%;
                    top: 0.0%;
                }
            </style>
        
    <script src="https://cdnjs.cloudflare.com/ajax/libs/leaflet.markercluster/1.1.0/leaflet.markercluster.js"></script>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/leaflet.markercluster/1.1.0/MarkerCluster.css"/>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/leaflet.markercluster/1.1.0/MarkerCluster.Default.css"/>
</head>
<body>    
    
            <div class="folium-map" id="map_b3bc5c7853d940d3b6c22639013b9ead" ></div>
        
</body>
<script>    
    
            var map_b3bc5c7853d940d3b6c22639013b9ead = L.map(
                "map_b3bc5c7853d940d3b6c22639013b9ead",
                {
                    center: [10.0, 100.0],
                    crs: L.CRS.EPSG3857,
                    zoom: 3,
                    zoomControl: true,
                    preferCanvas: false,
                }
            );

            

        
    
            var tile_layer_78ea0b1f8d71444685ec42d8b44282ed = L.tileLayer(
                "https://{s}.tile.openstreetmap.org/{z}/{x}/{y}.png",
                {"attribution": "Data by \u0026copy; \u003ca href=\"http://openstreetmap.org\"\u003eOpenStreetMap\u003c/a\u003e, under \u003ca href=\"http://www.openstreetmap.org/copyright\"\u003eODbL\u003c/a\u003e.", "detectRetina": false, "maxNativeZoom": 18, "maxZoom": 18, "minZoom": 0, "noWrap": false, "opacity": 1, "subdomains": "abc", "tms": false}
            ).addTo(map_b3bc5c7853d940d3b6c22639013b9ead);
        
    
            var marker_cluster_94d1620238f7459db3524d517eeaac8f = L.markerClusterGroup(
                {}
            );
            map_b3bc5c7853d940d3b6c22639013b9ead.addLayer(marker_cluster_94d1620238f7459db3524d517eeaac8f);
        
    
            var marker_72b97450963a428d857091bb1ad1e3c0 = L.marker(
                [7.5554942, 80.7137847],
                {}
            ).addTo(marker_cluster_94d1620238f7459db3524d517eeaac8f);
        
    
        var popup_9ca534cc96234c29812d7a9b41eb617a = L.popup({"maxWidth": 400});

        
            var html_e7be4e89c60a44b78f4aceb55e2683e5 = $(`<div id="html_e7be4e89c60a44b78f4aceb55e2683e5" style="width: 100.0%; height: 100.0%;">Sri Lanka <br> <a href=https://www.picuki.com/media/2313037863486542445 > See Post</div>`)[0];
            popup_9ca534cc96234c29812d7a9b41eb617a.setContent(html_e7be4e89c60a44b78f4aceb55e2683e5);
        

        marker_72b97450963a428d857091bb1ad1e3c0.bindPopup(popup_9ca534cc96234c29812d7a9b41eb617a)
        ;

        
    
    
            var marker_42e3545755f14a3986917de8ae2a93d6 = L.marker(
                [7.8566286, 80.64850182010703],
                {}
            ).addTo(marker_cluster_94d1620238f7459db3524d517eeaac8f);
        
    
        var popup_716a305cdd2344b9958ef8cf0c17f280 = L.popup({"maxWidth": 400});

        
            var html_80d9548c27e5477ab72bbdcf2c2dd826 = $(`<div id="html_80d9548c27e5477ab72bbdcf2c2dd826" style="width: 100.0%; height: 100.0%;">Dambulla Cave Temple <br> <a href=https://www.picuki.com/media/2315274583041054721 > See Post</div>`)[0];
            popup_716a305cdd2344b9958ef8cf0c17f280.setContent(html_80d9548c27e5477ab72bbdcf2c2dd826);
        

        marker_42e3545755f14a3986917de8ae2a93d6.bindPopup(popup_716a305cdd2344b9958ef8cf0c17f280)
        ;

        
    
    
            var marker_958cb940320d47e8935853b66b455b20 = L.marker(
                [30.26836135, 120.12791294153972],
                {}
            ).addTo(marker_cluster_94d1620238f7459db3524d517eeaac8f);
        
    
        var popup_7ca374177dbc4b93969b330f5374df01 = L.popup({"maxWidth": 400});

        
            var html_833af97d590d47f7b34b6164c838b3bc = $(`<div id="html_833af97d590d47f7b34b6164c838b3bc" style="width: 100.0%; height: 100.0%;">The Lying Dragon Mountain <br> <a href=https://www.picuki.com/media/2318322918144406159 > See Post</div>`)[0];
            popup_7ca374177dbc4b93969b330f5374df01.setContent(html_833af97d590d47f7b34b6164c838b3bc);
        

        marker_958cb940320d47e8935853b66b455b20.bindPopup(popup_7ca374177dbc4b93969b330f5374df01)
        ;

        
    
    
            var marker_2fb98d7538e84c44bed4360e71f7dc19 = L.marker(
                [13.2904027, 108.4265113],
                {}
            ).addTo(marker_cluster_94d1620238f7459db3524d517eeaac8f);
        
    
        var popup_d35a30a875144fae822c2aed1d9a2d23 = L.popup({"maxWidth": 400});

        
            var html_0ca04718a1674dc7b87bc91a57ba0703 = $(`<div id="html_0ca04718a1674dc7b87bc91a57ba0703" style="width: 100.0%; height: 100.0%;">Vietnam <br> <a href=https://www.picuki.com/media/2318790682554615719 > See Post</div>`)[0];
            popup_d35a30a875144fae822c2aed1d9a2d23.setContent(html_0ca04718a1674dc7b87bc91a57ba0703);
        

        marker_2fb98d7538e84c44bed4360e71f7dc19.bindPopup(popup_d35a30a875144fae822c2aed1d9a2d23)
        ;

        
    
    
            var marker_adb0433854ec4060bdc4abc6d532fb78 = L.marker(
                [21.0294498, 105.8544441],
                {}
            ).addTo(marker_cluster_94d1620238f7459db3524d517eeaac8f);
        
    
        var popup_86ba729474d84942bc12e80d1c815482 = L.popup({"maxWidth": 400});

        
            var html_9e1205949fd2444fb0fecc16886f17c2 = $(`<div id="html_9e1205949fd2444fb0fecc16886f17c2" style="width: 100.0%; height: 100.0%;">Hanoi, Vietnam <br> <a href=https://www.picuki.com/media/2319685254398786421 > See Post</div>`)[0];
            popup_86ba729474d84942bc12e80d1c815482.setContent(html_9e1205949fd2444fb0fecc16886f17c2);
        

        marker_adb0433854ec4060bdc4abc6d532fb78.bindPopup(popup_86ba729474d84942bc12e80d1c815482)
        ;

        
    
    
            var marker_6679d1d6fc2c439cbaa74f307b353c1e = L.marker(
                [-8.1783212, 115.182751],
                {}
            ).addTo(marker_cluster_94d1620238f7459db3524d517eeaac8f);
        
    
        var popup_b9517b974d524c3a83c886eb24499680 = L.popup({"maxWidth": 400});

        
            var html_42affb0ccbf146ebb38983a81cd809de = $(`<div id="html_42affb0ccbf146ebb38983a81cd809de" style="width: 100.0%; height: 100.0%;">Sekumpul Waterfall <br> <a href=https://www.picuki.com/media/2323256134441678938 > See Post</div>`)[0];
            popup_b9517b974d524c3a83c886eb24499680.setContent(html_42affb0ccbf146ebb38983a81cd809de);
        

        marker_6679d1d6fc2c439cbaa74f307b353c1e.bindPopup(popup_b9517b974d524c3a83c886eb24499680)
        ;

        
    
    
            var marker_7e4c8588c7bd4063ac6a15f316a11387 = L.marker(
                [48.8566969, 2.3514616],
                {}
            ).addTo(marker_cluster_94d1620238f7459db3524d517eeaac8f);
        
    
        var popup_446fb285f5cd48fd94166db8d8764647 = L.popup({"maxWidth": 400});

        
            var html_0887758836ac45459107d6c79a02b3ce = $(`<div id="html_0887758836ac45459107d6c79a02b3ce" style="width: 100.0%; height: 100.0%;">Bali <br> <a href=https://www.picuki.com/media/2323261400851683377 > See Post</div>`)[0];
            popup_446fb285f5cd48fd94166db8d8764647.setContent(html_0887758836ac45459107d6c79a02b3ce);
        

        marker_7e4c8588c7bd4063ac6a15f316a11387.bindPopup(popup_446fb285f5cd48fd94166db8d8764647)
        ;

        
    
    
            var marker_5d681ae8a55c4b569e169d4dd4d80c88 = L.marker(
                [25.2528888, 55.17696777178696],
                {}
            ).addTo(marker_cluster_94d1620238f7459db3524d517eeaac8f);
        
    
        var popup_8990cfc72350413589175ada8de7775e = L.popup({"maxWidth": 400});

        
            var html_99b5efe035664c68973fa54530651308 = $(`<div id="html_99b5efe035664c68973fa54530651308" style="width: 100.0%; height: 100.0%;">The World <br> <a href=https://www.picuki.com/media/2323267381568722185 > See Post</div>`)[0];
            popup_8990cfc72350413589175ada8de7775e.setContent(html_99b5efe035664c68973fa54530651308);
        

        marker_5d681ae8a55c4b569e169d4dd4d80c88.bindPopup(popup_8990cfc72350413589175ada8de7775e)
        ;

        
    
</script>