<!DOCTYPE html>
<head>    
    <meta http-equiv="content-type" content="text/html; charset=UTF-8" />
    
        <script>
            L_NO_TOUCH = false;
            L_DISABLE_3D = false;
        </script>
    
    <style>html, body {width: 100%;height: 100%;margin: 0;padding: 0;}</style>
    <style>#map {position:absolute;top:0;bottom:0;right:0;left:0;}</style>
    <script src="https://cdn.jsdelivr.net/npm/leaflet@1.6.0/dist/leaflet.js"></script>
    <script src="https://code.jquery.com/jquery-1.12.4.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/js/bootstrap.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/Leaflet.awesome-markers/2.0.2/leaflet.awesome-markers.js"></script>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/leaflet@1.6.0/dist/leaflet.css"/>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css"/>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap-theme.min.css"/>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.6.3/css/font-awesome.min.css"/>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/Leaflet.awesome-markers/2.0.2/leaflet.awesome-markers.css"/>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/gh/python-visualization/folium/folium/templates/leaflet.awesome.rotate.min.css"/>
    
            <meta name="viewport" content="width=device-width,
                initial-scale=1.0, maximum-scale=1.0, user-scalable=no" />
            <style>
                #map_0f715b45b92243979c1311c50c1a2c96 {
                    position: relative;
                    width: 100.0%;
                    height: 100.0%;
                    left: 0.0%;
                    top: 0.0%;
                }
            </style>
        
    <script src="https://cdnjs.cloudflare.com/ajax/libs/leaflet.markercluster/1.1.0/leaflet.markercluster.js"></script>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/leaflet.markercluster/1.1.0/MarkerCluster.css"/>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/leaflet.markercluster/1.1.0/MarkerCluster.Default.css"/>
</head>
<body>    
    
            <div class="folium-map" id="map_0f715b45b92243979c1311c50c1a2c96" ></div>
        
</body>
<script>    
    
            var map_0f715b45b92243979c1311c50c1a2c96 = L.map(
                "map_0f715b45b92243979c1311c50c1a2c96",
                {
                    center: [38.5, -2.75],
                    crs: L.CRS.EPSG3857,
                    zoom: 6,
                    zoomControl: true,
                    preferCanvas: false,
                }
            );

            

        
    
            var tile_layer_27530f8c8bc740e3be3187a7035f560b = L.tileLayer(
                "https://{s}.tile.openstreetmap.org/{z}/{x}/{y}.png",
                {"attribution": "Data by \u0026copy; \u003ca href=\"http://openstreetmap.org\"\u003eOpenStreetMap\u003c/a\u003e, under \u003ca href=\"http://www.openstreetmap.org/copyright\"\u003eODbL\u003c/a\u003e.", "detectRetina": false, "maxNativeZoom": 18, "maxZoom": 18, "minZoom": 0, "noWrap": false, "opacity": 1, "subdomains": "abc", "tms": false}
            ).addTo(map_0f715b45b92243979c1311c50c1a2c96);
        
    
            var poly_line_2c2b40edfe0149c29c65c70d3c09697f = L.polyline(
                [[36.9089333, -4.7599708], [37.118565, -2.5395634], [37.4795311, -3.0432324], [39.3260685, -4.8379791], [39.2299883, -1.0619387], [40.0223607, -0.2785144]],
                {"bubblingMouseEvents": true, "color": "red", "dashArray": null, "dashOffset": null, "fill": false, "fillColor": "red", "fillOpacity": 0.2, "fillRule": "evenodd", "lineCap": "round", "lineJoin": "round", "noClip": false, "opacity": 0.7, "smoothFactor": 1.0, "stroke": true, "weight": 2}
            ).addTo(map_0f715b45b92243979c1311c50c1a2c96);
        
    
            var marker_cluster_ea04e57b489f4ebb9279dd2853f11426 = L.markerClusterGroup(
                {}
            );
            map_0f715b45b92243979c1311c50c1a2c96.addLayer(marker_cluster_ea04e57b489f4ebb9279dd2853f11426);
        
    
            var marker_5fdad019bcc14d679ea71b9cef97181a = L.marker(
                [36.9089333, -4.7599708],
                {}
            ).addTo(marker_cluster_ea04e57b489f4ebb9279dd2853f11426);
        
    
        var popup_6a238f4082f64542b4e6bcd06594902a = L.popup({"maxWidth": 400});

        
            var html_d706d2f3542a494bb5ffee65d2c682c8 = $(`<div id="html_d706d2f3542a494bb5ffee65d2c682c8" style="width: 100.0%; height: 100.0%;">El Chorro, Andalucia, Spain <br> <a href=https://www.picuki.com/media/2543694288432159765 > See Post</div>`)[0];
            popup_6a238f4082f64542b4e6bcd06594902a.setContent(html_d706d2f3542a494bb5ffee65d2c682c8);
        

        marker_5fdad019bcc14d679ea71b9cef97181a.bindPopup(popup_6a238f4082f64542b4e6bcd06594902a)
        ;

        
    
    
            var marker_db7d447bd0d74f529a85bdc9bc2d4f11 = L.marker(
                [37.118565, -2.5395634],
                {}
            ).addTo(marker_cluster_ea04e57b489f4ebb9279dd2853f11426);
        
    
        var popup_23cac1ebfa9746f8b6c3b76b5ee975da = L.popup({"maxWidth": 400});

        
            var html_5249dcfa9dea4384b8da3e5c5dde4d18 = $(`<div id="html_5249dcfa9dea4384b8da3e5c5dde4d18" style="width: 100.0%; height: 100.0%;">Gérgal, Spain <br> <a href=https://www.picuki.com/media/2546478718095942472 > See Post</div>`)[0];
            popup_23cac1ebfa9746f8b6c3b76b5ee975da.setContent(html_5249dcfa9dea4384b8da3e5c5dde4d18);
        

        marker_db7d447bd0d74f529a85bdc9bc2d4f11.bindPopup(popup_23cac1ebfa9746f8b6c3b76b5ee975da)
        ;

        
    
    
            var marker_563362f678104a469db2f3d68cec2291 = L.marker(
                [37.4795311, -3.0432324],
                {}
            ).addTo(marker_cluster_ea04e57b489f4ebb9279dd2853f11426);
        
    
        var popup_7be96c22213d478795286ab8c2078a31 = L.popup({"maxWidth": 400});

        
            var html_0dda60dae2574a3c93525f81f06dace5 = $(`<div id="html_0dda60dae2574a3c93525f81f06dace5" style="width: 100.0%; height: 100.0%;">Gorafe, Andalucia, Spain <br> <a href=https://www.picuki.com/media/2550183163400897538 > See Post</div>`)[0];
            popup_7be96c22213d478795286ab8c2078a31.setContent(html_0dda60dae2574a3c93525f81f06dace5);
        

        marker_563362f678104a469db2f3d68cec2291.bindPopup(popup_7be96c22213d478795286ab8c2078a31)
        ;

        
    
    
            var marker_875d6ab72815470b9bebf4e57f0a376a = L.marker(
                [39.3260685, -4.8379791],
                {}
            ).addTo(marker_cluster_ea04e57b489f4ebb9279dd2853f11426);
        
    
        var popup_665a0eb6c41946a29a5bc8d47ebfb337 = L.popup({"maxWidth": 400});

        
            var html_0014d03e60fc40708f758c3be3dca78f = $(`<div id="html_0014d03e60fc40708f758c3be3dca78f" style="width: 100.0%; height: 100.0%;">Spain <br> <a href=https://www.picuki.com/media/2552502234666722309 > See Post</div>`)[0];
            popup_665a0eb6c41946a29a5bc8d47ebfb337.setContent(html_0014d03e60fc40708f758c3be3dca78f);
        

        marker_875d6ab72815470b9bebf4e57f0a376a.bindPopup(popup_665a0eb6c41946a29a5bc8d47ebfb337)
        ;

        
    
    
            var marker_36de0b1685a447e889608beb57935e28 = L.marker(
                [39.2299883, -1.0619387],
                {}
            ).addTo(marker_cluster_ea04e57b489f4ebb9279dd2853f11426);
        
    
        var popup_31397e42a9f141a0a4f1465bc2488508 = L.popup({"maxWidth": 400});

        
            var html_a13de345bb5c4768b57d9ea587be78f1 = $(`<div id="html_a13de345bb5c4768b57d9ea587be78f1" style="width: 100.0%; height: 100.0%;">Cofrentes <br> <a href=https://www.picuki.com/media/2558151762270796900 > See Post</div>`)[0];
            popup_31397e42a9f141a0a4f1465bc2488508.setContent(html_a13de345bb5c4768b57d9ea587be78f1);
        

        marker_36de0b1685a447e889608beb57935e28.bindPopup(popup_31397e42a9f141a0a4f1465bc2488508)
        ;

        
    
    
            var marker_f7f8044059d24a9ea2123c371f4b6161 = L.marker(
                [40.0223607, -0.2785144],
                {}
            ).addTo(marker_cluster_ea04e57b489f4ebb9279dd2853f11426);
        
    
        var popup_a4a5643070db44f1aff7a1beb11fbcc9 = L.popup({"maxWidth": 400});

        
            var html_fe3c27415ec74751a4b94134193c79b0 = $(`<div id="html_fe3c27415ec74751a4b94134193c79b0" style="width: 100.0%; height: 100.0%;">Ribesalbes, Valenciana, Spain <br> <a href=https://www.picuki.com/media/2558174661753126628 > See Post</div>`)[0];
            popup_a4a5643070db44f1aff7a1beb11fbcc9.setContent(html_fe3c27415ec74751a4b94134193c79b0);
        

        marker_f7f8044059d24a9ea2123c371f4b6161.bindPopup(popup_a4a5643070db44f1aff7a1beb11fbcc9)
        ;

        
    
</script>