<!DOCTYPE html>
<head>    
    <meta http-equiv="content-type" content="text/html; charset=UTF-8" />
    
        <script>
            L_NO_TOUCH = false;
            L_DISABLE_3D = false;
        </script>
    
    <style>html, body {width: 100%;height: 100%;margin: 0;padding: 0;}</style>
    <style>#map {position:absolute;top:0;bottom:0;right:0;left:0;}</style>
    <script src="https://cdn.jsdelivr.net/npm/leaflet@1.6.0/dist/leaflet.js"></script>
    <script src="https://code.jquery.com/jquery-1.12.4.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/js/bootstrap.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/Leaflet.awesome-markers/2.0.2/leaflet.awesome-markers.js"></script>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/leaflet@1.6.0/dist/leaflet.css"/>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css"/>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap-theme.min.css"/>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.6.3/css/font-awesome.min.css"/>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/Leaflet.awesome-markers/2.0.2/leaflet.awesome-markers.css"/>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/gh/python-visualization/folium/folium/templates/leaflet.awesome.rotate.min.css"/>
    
            <meta name="viewport" content="width=device-width,
                initial-scale=1.0, maximum-scale=1.0, user-scalable=no" />
            <style>
                #map_86a4bcc2b09f46a5b9506117b65b0c56 {
                    position: relative;
                    width: 100.0%;
                    height: 100.0%;
                    left: 0.0%;
                    top: 0.0%;
                }
            </style>
        
    <script src="https://cdnjs.cloudflare.com/ajax/libs/leaflet.markercluster/1.1.0/leaflet.markercluster.js"></script>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/leaflet.markercluster/1.1.0/MarkerCluster.css"/>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/leaflet.markercluster/1.1.0/MarkerCluster.Default.css"/>
</head>
<body>    
    
            <div class="folium-map" id="map_86a4bcc2b09f46a5b9506117b65b0c56" ></div>
        
</body>
<script>    
    
            var map_86a4bcc2b09f46a5b9506117b65b0c56 = L.map(
                "map_86a4bcc2b09f46a5b9506117b65b0c56",
                {
                    center: [55.0, 2.64],
                    crs: L.CRS.EPSG3857,
                    zoom: 4,
                    zoomControl: true,
                    preferCanvas: false,
                }
            );

            

        
    
            var tile_layer_029a2a158b884d1faaefcda88075100d = L.tileLayer(
                "https://{s}.tile.openstreetmap.org/{z}/{x}/{y}.png",
                {"attribution": "Data by \u0026copy; \u003ca href=\"http://openstreetmap.org\"\u003eOpenStreetMap\u003c/a\u003e, under \u003ca href=\"http://www.openstreetmap.org/copyright\"\u003eODbL\u003c/a\u003e.", "detectRetina": false, "maxNativeZoom": 18, "maxZoom": 18, "minZoom": 0, "noWrap": false, "opacity": 1, "subdomains": "abc", "tms": false}
            ).addTo(map_86a4bcc2b09f46a5b9506117b65b0c56);
        
    
            var marker_cluster_52d968ea671b406a96cb2feb85ce5c67 = L.markerClusterGroup(
                {}
            );
            map_86a4bcc2b09f46a5b9506117b65b0c56.addLayer(marker_cluster_52d968ea671b406a96cb2feb85ce5c67);
        
    
            var marker_9cf548b4b919476bb5d5c5dd2e7a98a8 = L.marker(
                [58.335947950000005, -4.9132184955527745],
                {}
            ).addTo(marker_cluster_52d968ea671b406a96cb2feb85ce5c67);
        
    
        var popup_cf69d330e79f425da1e473512a4b1e09 = L.popup({"maxWidth": 400});

        
            var html_a62589fa6c894d24b5f40c87346be8de = $(`<div id="html_a62589fa6c894d24b5f40c87346be8de" style="width: 100.0%; height: 100.0%;">Loch Stack <br> <a href=https://www.picuki.com/media/2526415468283993940 > See Post</div>`)[0];
            popup_cf69d330e79f425da1e473512a4b1e09.setContent(html_a62589fa6c894d24b5f40c87346be8de);
        

        marker_9cf548b4b919476bb5d5c5dd2e7a98a8.bindPopup(popup_cf69d330e79f425da1e473512a4b1e09)
        ;

        
    
    
            var marker_c0a9f0a9cdcd457ea1c97e6fa5255b9d = L.marker(
                [58.0441506, -5.207476],
                {}
            ).addTo(marker_cluster_52d968ea671b406a96cb2feb85ce5c67);
        
    
        var popup_8d5948c6b43a43339e04bdc35fef3be7 = L.popup({"maxWidth": 400});

        
            var html_0cf567a8611349db923c556f4a806e5f = $(`<div id="html_0cf567a8611349db923c556f4a806e5f" style="width: 100.0%; height: 100.0%;">Stac Pollaidh <br> <a href=https://www.picuki.com/media/2527146168570101401 > See Post</div>`)[0];
            popup_8d5948c6b43a43339e04bdc35fef3be7.setContent(html_0cf567a8611349db923c556f4a806e5f);
        

        marker_c0a9f0a9cdcd457ea1c97e6fa5255b9d.bindPopup(popup_8d5948c6b43a43339e04bdc35fef3be7)
        ;

        
    
    
            var marker_c944d11d620248fab9b00d61398a3a72 = L.marker(
                [60.1329516, 6.7540404],
                {}
            ).addTo(marker_cluster_52d968ea671b406a96cb2feb85ce5c67);
        
    
        var popup_e8f616bfcb344b04a8cbc17b35046ed0 = L.popup({"maxWidth": 400});

        
            var html_60e9c388c1c6461e9385a1fceae64ae9 = $(`<div id="html_60e9c388c1c6461e9385a1fceae64ae9" style="width: 100.0%; height: 100.0%;">Trolltunga, Norway <br> <a href=https://www.picuki.com/media/2527863899632422461 > See Post</div>`)[0];
            popup_e8f616bfcb344b04a8cbc17b35046ed0.setContent(html_60e9c388c1c6461e9385a1fceae64ae9);
        

        marker_c944d11d620248fab9b00d61398a3a72.bindPopup(popup_e8f616bfcb344b04a8cbc17b35046ed0)
        ;

        
    
    
            var marker_01691ffc776c499ea367bf15b5d3bd2b = L.marker(
                [56.5667883, -4.8707776],
                {}
            ).addTo(marker_cluster_52d968ea671b406a96cb2feb85ce5c67);
        
    
        var popup_09bfbb1def434b58baf0a3e6114066e4 = L.popup({"maxWidth": 400});

        
            var html_2da506335d7a42d79e439fe1120b3afa = $(`<div id="html_2da506335d7a42d79e439fe1120b3afa" style="width: 100.0%; height: 100.0%;">Aonach Eagach <br> <a href=https://www.picuki.com/media/2532229571183335031 > See Post</div>`)[0];
            popup_09bfbb1def434b58baf0a3e6114066e4.setContent(html_2da506335d7a42d79e439fe1120b3afa);
        

        marker_01691ffc776c499ea367bf15b5d3bd2b.bindPopup(popup_09bfbb1def434b58baf0a3e6114066e4)
        ;

        
    
    
            var marker_5b42de65b1aa481fb134d1749e491a37 = L.marker(
                [46.6178075, 12.298379872784528],
                {}
            ).addTo(marker_cluster_52d968ea671b406a96cb2feb85ce5c67);
        
    
        var popup_53bb7317d26a47aaac3af8a31f2f012f = L.popup({"maxWidth": 400});

        
            var html_3defcbb484284a55b0aca2a4476bd8ad = $(`<div id="html_3defcbb484284a55b0aca2a4476bd8ad" style="width: 100.0%; height: 100.0%;">Tre Cime di Lavaredo <br> <a href=https://www.picuki.com/media/2534334471765712642 > See Post</div>`)[0];
            popup_53bb7317d26a47aaac3af8a31f2f012f.setContent(html_3defcbb484284a55b0aca2a4476bd8ad);
        

        marker_5b42de65b1aa481fb134d1749e491a37.bindPopup(popup_53bb7317d26a47aaac3af8a31f2f012f)
        ;

        
    
    
            var marker_648859ee26564618b63f51e45111ec6e = L.marker(
                [57.8023457, -5.2542535],
                {}
            ).addTo(marker_cluster_52d968ea671b406a96cb2feb85ce5c67);
        
    
        var popup_8cba098bf1194c1ab0ce557a52d6f5a0 = L.popup({"maxWidth": 400});

        
            var html_06908701d3ef405baf68ca240942edf6 = $(`<div id="html_06908701d3ef405baf68ca240942edf6" style="width: 100.0%; height: 100.0%;">An Teallach <br> <a href=https://www.picuki.com/media/2536575135375048202 > See Post</div>`)[0];
            popup_8cba098bf1194c1ab0ce557a52d6f5a0.setContent(html_06908701d3ef405baf68ca240942edf6);
        

        marker_648859ee26564618b63f51e45111ec6e.bindPopup(popup_8cba098bf1194c1ab0ce557a52d6f5a0)
        ;

        
    
    
            var marker_0469a4d4ed1a4de7ab992076da957674 = L.marker(
                [-29.4779935, 29.2673172],
                {}
            ).addTo(marker_cluster_52d968ea671b406a96cb2feb85ce5c67);
        
    
        var popup_e5adbbf5ee6548e9af57a3486342029e = L.popup({"maxWidth": 400});

        
            var html_6d8bddfda1f24c70afb7b3452e7e0278 = $(`<div id="html_6d8bddfda1f24c70afb7b3452e7e0278" style="width: 100.0%; height: 100.0%;">Drakensberg <br> <a href=https://www.picuki.com/media/2540934891070002241 > See Post</div>`)[0];
            popup_e5adbbf5ee6548e9af57a3486342029e.setContent(html_6d8bddfda1f24c70afb7b3452e7e0278);
        

        marker_0469a4d4ed1a4de7ab992076da957674.bindPopup(popup_e5adbbf5ee6548e9af57a3486342029e)
        ;

        
    
    
            var marker_b190114f4b9c4288a85e71b38694db09 = L.marker(
                [56.8, -5.0],
                {}
            ).addTo(marker_cluster_52d968ea671b406a96cb2feb85ce5c67);
        
    
        var popup_31c78fd949074dfb8ce4dacd4c2a42ee = L.popup({"maxWidth": 400});

        
            var html_487252c5a6134339b79b4cf4e5d5b944 = $(`<div id="html_487252c5a6134339b79b4cf4e5d5b944" style="width: 100.0%; height: 100.0%;">Scottish Highlands <br> <a href=https://www.picuki.com/media/2541619132057513071 > See Post</div>`)[0];
            popup_31c78fd949074dfb8ce4dacd4c2a42ee.setContent(html_487252c5a6134339b79b4cf4e5d5b944);
        

        marker_b190114f4b9c4288a85e71b38694db09.bindPopup(popup_31c78fd949074dfb8ce4dacd4c2a42ee)
        ;

        
    
    
            var marker_0c9b2f6ac2fd46ae89aba47c6537121c = L.marker(
                [58.1379667, -4.8585225],
                {}
            ).addTo(marker_cluster_52d968ea671b406a96cb2feb85ce5c67);
        
    
        var popup_7eabd9a0cb664013976ea23bdec6df5c = L.popup({"maxWidth": 400});

        
            var html_041d079c408247868d1fc48f79a2dd39 = $(`<div id="html_041d079c408247868d1fc48f79a2dd39" style="width: 100.0%; height: 100.0%;">Assynt <br> <a href=https://www.picuki.com/media/2545936899699063213 > See Post</div>`)[0];
            popup_7eabd9a0cb664013976ea23bdec6df5c.setContent(html_041d079c408247868d1fc48f79a2dd39);
        

        marker_0c9b2f6ac2fd46ae89aba47c6537121c.bindPopup(popup_7eabd9a0cb664013976ea23bdec6df5c)
        ;

        
    
    
            var marker_8d7ac41e18d3465daf55d424ed70a17a = L.marker(
                [44.1349412, 9.6827757],
                {}
            ).addTo(marker_cluster_52d968ea671b406a96cb2feb85ce5c67);
        
    
        var popup_3fd90cfe9a5d4185a4699fb40dcef246 = L.popup({"maxWidth": 400});

        
            var html_c8dad1b74b0d47bf99faa1bbc754ac92 = $(`<div id="html_c8dad1b74b0d47bf99faa1bbc754ac92" style="width: 100.0%; height: 100.0%;">Vernazza <br> <a href=https://www.picuki.com/media/2556875476288997988 > See Post</div>`)[0];
            popup_3fd90cfe9a5d4185a4699fb40dcef246.setContent(html_c8dad1b74b0d47bf99faa1bbc754ac92);
        

        marker_8d7ac41e18d3465daf55d424ed70a17a.bindPopup(popup_3fd90cfe9a5d4185a4699fb40dcef246)
        ;

        
    
    
            var marker_14055cd1054b4afb9998e034f51a98aa = L.marker(
                [56.87582355, -5.4293199131217245],
                {}
            ).addTo(marker_cluster_52d968ea671b406a96cb2feb85ce5c67);
        
    
        var popup_af23e6ef9d424c5da16f45f157a3496e = L.popup({"maxWidth": 400});

        
            var html_83452e74825448438f1f6fc6dac72935 = $(`<div id="html_83452e74825448438f1f6fc6dac72935" style="width: 100.0%; height: 100.0%;">Glenfinnan Viaduct <br> <a href=https://www.picuki.com/media/2557576599769602857 > See Post</div>`)[0];
            popup_af23e6ef9d424c5da16f45f157a3496e.setContent(html_83452e74825448438f1f6fc6dac72935);
        

        marker_14055cd1054b4afb9998e034f51a98aa.bindPopup(popup_af23e6ef9d424c5da16f45f157a3496e)
        ;

        
    
</script>