<!DOCTYPE html>
<head>    
    <meta http-equiv="content-type" content="text/html; charset=UTF-8" />
    
        <script>
            L_NO_TOUCH = false;
            L_DISABLE_3D = false;
        </script>
    
    <style>html, body {width: 100%;height: 100%;margin: 0;padding: 0;}</style>
    <style>#map {position:absolute;top:0;bottom:0;right:0;left:0;}</style>
    <script src="https://cdn.jsdelivr.net/npm/leaflet@1.6.0/dist/leaflet.js"></script>
    <script src="https://code.jquery.com/jquery-1.12.4.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/js/bootstrap.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/Leaflet.awesome-markers/2.0.2/leaflet.awesome-markers.js"></script>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/leaflet@1.6.0/dist/leaflet.css"/>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css"/>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap-theme.min.css"/>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.6.3/css/font-awesome.min.css"/>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/Leaflet.awesome-markers/2.0.2/leaflet.awesome-markers.css"/>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/gh/python-visualization/folium/folium/templates/leaflet.awesome.rotate.min.css"/>
    
            <meta name="viewport" content="width=device-width,
                initial-scale=1.0, maximum-scale=1.0, user-scalable=no" />
            <style>
                #map_f1cba7025a9143a8ab521a87a6cb7228 {
                    position: relative;
                    width: 100.0%;
                    height: 100.0%;
                    left: 0.0%;
                    top: 0.0%;
                }
            </style>
        
    <script src="https://cdnjs.cloudflare.com/ajax/libs/leaflet.markercluster/1.1.0/leaflet.markercluster.js"></script>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/leaflet.markercluster/1.1.0/MarkerCluster.css"/>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/leaflet.markercluster/1.1.0/MarkerCluster.Default.css"/>
</head>
<body>    
    
            <div class="folium-map" id="map_f1cba7025a9143a8ab521a87a6cb7228" ></div>
        
</body>
<script>    
    
            var map_f1cba7025a9143a8ab521a87a6cb7228 = L.map(
                "map_f1cba7025a9143a8ab521a87a6cb7228",
                {
                    center: [-31.0, 21.6],
                    crs: L.CRS.EPSG3857,
                    zoom: 6,
                    zoomControl: true,
                    preferCanvas: false,
                }
            );

            

        
    
            var tile_layer_5e3e60a7e68e437084f3bb782cf5066e = L.tileLayer(
                "https://{s}.tile.openstreetmap.org/{z}/{x}/{y}.png",
                {"attribution": "Data by \u0026copy; \u003ca href=\"http://openstreetmap.org\"\u003eOpenStreetMap\u003c/a\u003e, under \u003ca href=\"http://www.openstreetmap.org/copyright\"\u003eODbL\u003c/a\u003e.", "detectRetina": false, "maxNativeZoom": 18, "maxZoom": 18, "minZoom": 0, "noWrap": false, "opacity": 1, "subdomains": "abc", "tms": false}
            ).addTo(map_f1cba7025a9143a8ab521a87a6cb7228);
        
    
            var marker_cluster_d9a195d6dfde491d82331d16bfb16193 = L.markerClusterGroup(
                {}
            );
            map_f1cba7025a9143a8ab521a87a6cb7228.addLayer(marker_cluster_d9a195d6dfde491d82331d16bfb16193);
        
    
            var marker_39d44b34229542539b2dfca25383ea9b = L.marker(
                [11.5024338, 17.7578122],
                {}
            ).addTo(marker_cluster_d9a195d6dfde491d82331d16bfb16193);
        
    
        var popup_dac6a009cb904e9a883a44d06852e833 = L.popup({"maxWidth": 400});

        
            var html_3ff9fd2e48aa4eddb5959ddf1d7dd77a = $(`<div id="html_3ff9fd2e48aa4eddb5959ddf1d7dd77a" style="width: 100.0%; height: 100.0%;">Africa <br> <a href=https://www.picuki.com/media/2530775927641018536 > See Post</div>`)[0];
            popup_dac6a009cb904e9a883a44d06852e833.setContent(html_3ff9fd2e48aa4eddb5959ddf1d7dd77a);
        

        marker_39d44b34229542539b2dfca25383ea9b.bindPopup(popup_dac6a009cb904e9a883a44d06852e833)
        ;

        
    
    
            var marker_c8d685b1ed454b4185fb87266ede7b08 = L.marker(
                [-34.23, 19.428333],
                {}
            ).addTo(marker_cluster_d9a195d6dfde491d82331d16bfb16193);
        
    
        var popup_74242090a1714ccd9cdce6208b9d32e9 = L.popup({"maxWidth": 400});

        
            var html_8ce0baf7f51348d08e4acfad95635bed = $(`<div id="html_8ce0baf7f51348d08e4acfad95635bed" style="width: 100.0%; height: 100.0%;">Caledon, Western Cape <br> <a href=https://www.picuki.com/media/2534834726714481670 > See Post</div>`)[0];
            popup_74242090a1714ccd9cdce6208b9d32e9.setContent(html_8ce0baf7f51348d08e4acfad95635bed);
        

        marker_c8d685b1ed454b4185fb87266ede7b08.bindPopup(popup_74242090a1714ccd9cdce6208b9d32e9)
        ;

        
    
    
            var marker_c93e6f2995354e398d663098ec7f9474 = L.marker(
                [-34.0775777, 18.356445],
                {}
            ).addTo(marker_cluster_d9a195d6dfde491d82331d16bfb16193);
        
    
        var popup_00c8588229e34544843628324f2b8b0f = L.popup({"maxWidth": 400});

        
            var html_43347e95f4fb4df6977438f06d840fd2 = $(`<div id="html_43347e95f4fb4df6977438f06d840fd2" style="width: 100.0%; height: 100.0%;">Chapman’s Peak View Point <br> <a href=https://www.picuki.com/media/2539260610150175754 > See Post</div>`)[0];
            popup_00c8588229e34544843628324f2b8b0f.setContent(html_43347e95f4fb4df6977438f06d840fd2);
        

        marker_c93e6f2995354e398d663098ec7f9474.bindPopup(popup_00c8588229e34544843628324f2b8b0f)
        ;

        
    
    
            var marker_ece19d8c460a4f589167b76564bb2ef2 = L.marker(
                [-33.9734352, 18.469151231773292],
                {}
            ).addTo(marker_cluster_d9a195d6dfde491d82331d16bfb16193);
        
    
        var popup_30b483a8ee6b4ce7b6b2413ace849c07 = L.popup({"maxWidth": 400});

        
            var html_3a933e691bfb479db0621547bf2a1a32 = $(`<div id="html_3a933e691bfb479db0621547bf2a1a32" style="width: 100.0%; height: 100.0%;">Newlands Cricket Ground <br> <a href=https://www.picuki.com/media/2541353923355583137 > See Post</div>`)[0];
            popup_30b483a8ee6b4ce7b6b2413ace849c07.setContent(html_3a933e691bfb479db0621547bf2a1a32);
        

        marker_ece19d8c460a4f589167b76564bb2ef2.bindPopup(popup_30b483a8ee6b4ce7b6b2413ace849c07)
        ;

        
    
    
            var marker_73b340e58cce4613b4b93abbe4b34319 = L.marker(
                [-28.8166236, 24.991639],
                {}
            ).addTo(marker_cluster_d9a195d6dfde491d82331d16bfb16193);
        
    
        var popup_f0ba6a7982e342c686e5a456b857a5a5 = L.popup({"maxWidth": 400});

        
            var html_9fd04a4f09b344059f0517ffc97cf80e = $(`<div id="html_9fd04a4f09b344059f0517ffc97cf80e" style="width: 100.0%; height: 100.0%;">South Africa <br> <a href=https://www.picuki.com/media/2548601227858865500 > See Post</div>`)[0];
            popup_f0ba6a7982e342c686e5a456b857a5a5.setContent(html_9fd04a4f09b344059f0517ffc97cf80e);
        

        marker_73b340e58cce4613b4b93abbe4b34319.bindPopup(popup_f0ba6a7982e342c686e5a456b857a5a5)
        ;

        
    
    
            var marker_a49a90ba6ae84890829adb562daf7595 = L.marker(
                [-34.123956, 18.4530177],
                {}
            ).addTo(marker_cluster_d9a195d6dfde491d82331d16bfb16193);
        
    
        var popup_61e0bd8b522247489af3d3ad40ad221d = L.popup({"maxWidth": 400});

        
            var html_db33d4b12a4b4315b918abc14e28384b = $(`<div id="html_db33d4b12a4b4315b918abc14e28384b" style="width: 100.0%; height: 100.0%;">Dalebrook Tidal Pool <br> <a href=https://www.picuki.com/media/2550823706056584183 > See Post</div>`)[0];
            popup_61e0bd8b522247489af3d3ad40ad221d.setContent(html_db33d4b12a4b4315b918abc14e28384b);
        

        marker_a49a90ba6ae84890829adb562daf7595.bindPopup(popup_61e0bd8b522247489af3d3ad40ad221d)
        ;

        
    
    
            var marker_89ad7e8da48942dd9cebfbfc7115e0e6 = L.marker(
                [-33.9509089, 18.37773090386552],
                {}
            ).addTo(marker_cluster_d9a195d6dfde491d82331d16bfb16193);
        
    
        var popup_f9b405671261444093f7089871b3009e = L.popup({"maxWidth": 400});

        
            var html_0a248f1fed0c4f8ba0df86d5c810da33 = $(`<div id="html_0a248f1fed0c4f8ba0df86d5c810da33" style="width: 100.0%; height: 100.0%;">Camps Bay Beach ,Cape Town <br> <a href=https://www.picuki.com/media/2552924793311875852 > See Post</div>`)[0];
            popup_f9b405671261444093f7089871b3009e.setContent(html_0a248f1fed0c4f8ba0df86d5c810da33);
        

        marker_89ad7e8da48942dd9cebfbfc7115e0e6.bindPopup(popup_f9b405671261444093f7089871b3009e)
        ;

        
    
</script>