<!DOCTYPE html>
<head>    
    <meta http-equiv="content-type" content="text/html; charset=UTF-8" />
    
        <script>
            L_NO_TOUCH = false;
            L_DISABLE_3D = false;
        </script>
    
    <style>html, body {width: 100%;height: 100%;margin: 0;padding: 0;}</style>
    <style>#map {position:absolute;top:0;bottom:0;right:0;left:0;}</style>
    <script src="https://cdn.jsdelivr.net/npm/leaflet@1.6.0/dist/leaflet.js"></script>
    <script src="https://code.jquery.com/jquery-1.12.4.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/js/bootstrap.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/Leaflet.awesome-markers/2.0.2/leaflet.awesome-markers.js"></script>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/leaflet@1.6.0/dist/leaflet.css"/>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css"/>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap-theme.min.css"/>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.6.3/css/font-awesome.min.css"/>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/Leaflet.awesome-markers/2.0.2/leaflet.awesome-markers.css"/>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/gh/python-visualization/folium/folium/templates/leaflet.awesome.rotate.min.css"/>
    
            <meta name="viewport" content="width=device-width,
                initial-scale=1.0, maximum-scale=1.0, user-scalable=no" />
            <style>
                #map_f73b59c876814df28f015e1129d65de0 {
                    position: relative;
                    width: 100.0%;
                    height: 100.0%;
                    left: 0.0%;
                    top: 0.0%;
                }
            </style>
        
    <script src="https://cdnjs.cloudflare.com/ajax/libs/leaflet.markercluster/1.1.0/leaflet.markercluster.js"></script>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/leaflet.markercluster/1.1.0/MarkerCluster.css"/>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/leaflet.markercluster/1.1.0/MarkerCluster.Default.css"/>
</head>
<body>    
    
            <div class="folium-map" id="map_f73b59c876814df28f015e1129d65de0" ></div>
        
</body>
<script>    
    
            var map_f73b59c876814df28f015e1129d65de0 = L.map(
                "map_f73b59c876814df28f015e1129d65de0",
                {
                    center: [50.0, 70.0],
                    crs: L.CRS.EPSG3857,
                    zoom: 1,
                    zoomControl: true,
                    preferCanvas: false,
                }
            );

            

        
    
            var tile_layer_6c35d037e9404a6eb7e890288adfee53 = L.tileLayer(
                "https://{s}.tile.openstreetmap.org/{z}/{x}/{y}.png",
                {"attribution": "Data by \u0026copy; \u003ca href=\"http://openstreetmap.org\"\u003eOpenStreetMap\u003c/a\u003e, under \u003ca href=\"http://www.openstreetmap.org/copyright\"\u003eODbL\u003c/a\u003e.", "detectRetina": false, "maxNativeZoom": 18, "maxZoom": 18, "minZoom": 0, "noWrap": false, "opacity": 1, "subdomains": "abc", "tms": false}
            ).addTo(map_f73b59c876814df28f015e1129d65de0);
        
    
            var marker_cluster_396f8a4cb584447c92858bf74b3eca25 = L.markerClusterGroup(
                {}
            );
            map_f73b59c876814df28f015e1129d65de0.addLayer(marker_cluster_396f8a4cb584447c92858bf74b3eca25);
        
    
            var marker_a26c68654a824e28b7a9f1364f65bf0e = L.marker(
                [7.9366015, 98.3529292],
                {}
            ).addTo(marker_cluster_396f8a4cb584447c92858bf74b3eca25);
        
    
        var popup_fad488c6903c402b9709c8d434ba69c5 = L.popup({"maxWidth": 400});

        
            var html_5e3bc34af5384f96a6c812d68f7cee49 = $(`<div id="html_5e3bc34af5384f96a6c812d68f7cee49" style="width: 100.0%; height: 100.0%;">Phuket, Thailand <br> <a href=https://www.picuki.com/media/2547375456077059143 > See Post</div>`)[0];
            popup_fad488c6903c402b9709c8d434ba69c5.setContent(html_5e3bc34af5384f96a6c812d68f7cee49);
        

        marker_a26c68654a824e28b7a9f1364f65bf0e.bindPopup(popup_fad488c6903c402b9709c8d434ba69c5)
        ;

        
    
    
            var marker_205d91ebf6544e86b8d606b147c1711e = L.marker(
                [69.30405, 17.45915887912413],
                {}
            ).addTo(marker_cluster_396f8a4cb584447c92858bf74b3eca25);
        
    
        var popup_bc1c94215edd487cbb494cf6c731fbd4 = L.popup({"maxWidth": 400});

        
            var html_f0c384df43e3479ca62683d6f63770f8 = $(`<div id="html_f0c384df43e3479ca62683d6f63770f8" style="width: 100.0%; height: 100.0%;">Senja <br> <a href=https://www.picuki.com/media/2547538551974089182 > See Post</div>`)[0];
            popup_bc1c94215edd487cbb494cf6c731fbd4.setContent(html_f0c384df43e3479ca62683d6f63770f8);
        

        marker_205d91ebf6544e86b8d606b147c1711e.bindPopup(popup_bc1c94215edd487cbb494cf6c731fbd4)
        ;

        
    
    
            var marker_92300fc745c845538f53a28aaf857a71 = L.marker(
                [36.6217431, 29.1209488],
                {}
            ).addTo(marker_cluster_396f8a4cb584447c92858bf74b3eca25);
        
    
        var popup_179f36f1c8f84581b53fcce107fc3cfd = L.popup({"maxWidth": 400});

        
            var html_f890a9382ed04c7d8e6f00a1864f8fd5 = $(`<div id="html_f890a9382ed04c7d8e6f00a1864f8fd5" style="width: 100.0%; height: 100.0%;">Fethiye, Turkey <br> <a href=https://www.picuki.com/media/2548802005397543033 > See Post</div>`)[0];
            popup_179f36f1c8f84581b53fcce107fc3cfd.setContent(html_f890a9382ed04c7d8e6f00a1864f8fd5);
        

        marker_92300fc745c845538f53a28aaf857a71.bindPopup(popup_179f36f1c8f84581b53fcce107fc3cfd)
        ;

        
    
    
            var marker_93a77f82d5c347a5b85b1b31c57aad32 = L.marker(
                [41.1018669, -81.1515962],
                {}
            ).addTo(marker_cluster_396f8a4cb584447c92858bf74b3eca25);
        
    
        var popup_e3f88be434bf40d68886773da954224b = L.popup({"maxWidth": 400});

        
            var html_665a079c542b488b8a486c96a06dbb6b = $(`<div id="html_665a079c542b488b8a486c96a06dbb6b" style="width: 100.0%; height: 100.0%;">Planet Earth <br> <a href=https://www.picuki.com/media/2549537849007766162 > See Post</div>`)[0];
            popup_e3f88be434bf40d68886773da954224b.setContent(html_665a079c542b488b8a486c96a06dbb6b);
        

        marker_93a77f82d5c347a5b85b1b31c57aad32.bindPopup(popup_e3f88be434bf40d68886773da954224b)
        ;

        
    
    
            var marker_3d93b36455f94a46a7f8ddd8961e28c2 = L.marker(
                [35.021041, 135.7556075],
                {}
            ).addTo(marker_cluster_396f8a4cb584447c92858bf74b3eca25);
        
    
        var popup_b6dee6d6de4c4d54b4ecdcccd7a2e5ea = L.popup({"maxWidth": 400});

        
            var html_0f141033f060452c9535fb8d46792a65 = $(`<div id="html_0f141033f060452c9535fb8d46792a65" style="width: 100.0%; height: 100.0%;">Kyoto, Japan <br> <a href=https://www.picuki.com/media/2550254633641883427 > See Post</div>`)[0];
            popup_b6dee6d6de4c4d54b4ecdcccd7a2e5ea.setContent(html_0f141033f060452c9535fb8d46792a65);
        

        marker_3d93b36455f94a46a7f8ddd8961e28c2.bindPopup(popup_b6dee6d6de4c4d54b4ecdcccd7a2e5ea)
        ;

        
    
    
            var marker_9040a7a2339045abb3f4adfb6492591f = L.marker(
                [36.5748441, 139.2394179],
                {}
            ).addTo(marker_cluster_396f8a4cb584447c92858bf74b3eca25);
        
    
        var popup_8aa66a7fa1b6492b9af03856f2c0c818 = L.popup({"maxWidth": 400});

        
            var html_9d48a376c4c04a8a8f154f0f49ef5cbf = $(`<div id="html_9d48a376c4c04a8a8f154f0f49ef5cbf" style="width: 100.0%; height: 100.0%;">Japan <br> <a href=https://www.picuki.com/media/2550991851658549149 > See Post</div>`)[0];
            popup_8aa66a7fa1b6492b9af03856f2c0c818.setContent(html_9d48a376c4c04a8a8f154f0f49ef5cbf);
        

        marker_9040a7a2339045abb3f4adfb6492591f.bindPopup(popup_8aa66a7fa1b6492b9af03856f2c0c818)
        ;

        
    
    
            var marker_30465d9efaa742298ad83636d628fc67 = L.marker(
                [33.6981486, -117.7460817],
                {}
            ).addTo(marker_cluster_396f8a4cb584447c92858bf74b3eca25);
        
    
        var popup_dd8cbfd3e605480da65185801950c581 = L.popup({"maxWidth": 400});

        
            var html_eedd74450a4f4387a95d01032630c1ab = $(`<div id="html_eedd74450a4f4387a95d01032630c1ab" style="width: 100.0%; height: 100.0%;">Nature <br> <a href=https://www.picuki.com/media/2551698252085186888 > See Post</div>`)[0];
            popup_dd8cbfd3e605480da65185801950c581.setContent(html_eedd74450a4f4387a95d01032630c1ab);
        

        marker_30465d9efaa742298ad83636d628fc67.bindPopup(popup_dd8cbfd3e605480da65185801950c581)
        ;

        
    
    
            var marker_2cad7c9af9d64c2c8d532bb1fa6ccdad = L.marker(
                [-35.05686625, 150.72630012641693],
                {}
            ).addTo(marker_cluster_396f8a4cb584447c92858bf74b3eca25);
        
    
        var popup_7a03c280c3554ab6af801366e47c7460 = L.popup({"maxWidth": 400});

        
            var html_673e390a73f44d27a6fc311bfe2cf1af = $(`<div id="html_673e390a73f44d27a6fc311bfe2cf1af" style="width: 100.0%; height: 100.0%;">Jervis Bay NSW Australia <br> <a href=https://www.picuki.com/media/2552446453037920409 > See Post</div>`)[0];
            popup_7a03c280c3554ab6af801366e47c7460.setContent(html_673e390a73f44d27a6fc311bfe2cf1af);
        

        marker_2cad7c9af9d64c2c8d532bb1fa6ccdad.bindPopup(popup_7a03c280c3554ab6af801366e47c7460)
        ;

        
    
    
            var marker_80dfbd5cd3774e9792b26bf40a3595a4 = L.marker(
                [46.603354, 1.8883335],
                {}
            ).addTo(marker_cluster_396f8a4cb584447c92858bf74b3eca25);
        
    
        var popup_66f7b18eee1d43d6ace0e11fc51a7191 = L.popup({"maxWidth": 400});

        
            var html_93be08c8012840fc913574b73c393046 = $(`<div id="html_93be08c8012840fc913574b73c393046" style="width: 100.0%; height: 100.0%;">France <br> <a href=https://www.picuki.com/media/2553165951797784203 > See Post</div>`)[0];
            popup_66f7b18eee1d43d6ace0e11fc51a7191.setContent(html_93be08c8012840fc913574b73c393046);
        

        marker_80dfbd5cd3774e9792b26bf40a3595a4.bindPopup(popup_66f7b18eee1d43d6ace0e11fc51a7191)
        ;

        
    
    
            var marker_5454541767ff435386efa02a96e997df = L.marker(
                [37.84054795, -119.51658779802511],
                {}
            ).addTo(marker_cluster_396f8a4cb584447c92858bf74b3eca25);
        
    
        var popup_ac8d8d91d84d45759ed5d3da9c255121 = L.popup({"maxWidth": 400});

        
            var html_6297d04e47ab4bc58a2a6b61d3da5674 = $(`<div id="html_6297d04e47ab4bc58a2a6b61d3da5674" style="width: 100.0%; height: 100.0%;">Yosemite National Park <br> <a href=https://www.picuki.com/media/2553895456640238443 > See Post</div>`)[0];
            popup_ac8d8d91d84d45759ed5d3da9c255121.setContent(html_6297d04e47ab4bc58a2a6b61d3da5674);
        

        marker_5454541767ff435386efa02a96e997df.bindPopup(popup_ac8d8d91d84d45759ed5d3da9c255121)
        ;

        
    
</script>