<!DOCTYPE html>
<head>    
    <meta http-equiv="content-type" content="text/html; charset=UTF-8" />
    
        <script>
            L_NO_TOUCH = false;
            L_DISABLE_3D = false;
        </script>
    
    <style>html, body {width: 100%;height: 100%;margin: 0;padding: 0;}</style>
    <style>#map {position:absolute;top:0;bottom:0;right:0;left:0;}</style>
    <script src="https://cdn.jsdelivr.net/npm/leaflet@1.6.0/dist/leaflet.js"></script>
    <script src="https://code.jquery.com/jquery-1.12.4.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/js/bootstrap.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/Leaflet.awesome-markers/2.0.2/leaflet.awesome-markers.js"></script>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/leaflet@1.6.0/dist/leaflet.css"/>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css"/>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap-theme.min.css"/>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.6.3/css/font-awesome.min.css"/>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/Leaflet.awesome-markers/2.0.2/leaflet.awesome-markers.css"/>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/gh/python-visualization/folium/folium/templates/leaflet.awesome.rotate.min.css"/>
    
            <meta name="viewport" content="width=device-width,
                initial-scale=1.0, maximum-scale=1.0, user-scalable=no" />
            <style>
                #map_5fcfd7c893b0436689d6f8d0e11812a7 {
                    position: relative;
                    width: 100.0%;
                    height: 100.0%;
                    left: 0.0%;
                    top: 0.0%;
                }
            </style>
        
    <script src="https://cdnjs.cloudflare.com/ajax/libs/leaflet.markercluster/1.1.0/leaflet.markercluster.js"></script>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/leaflet.markercluster/1.1.0/MarkerCluster.css"/>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/leaflet.markercluster/1.1.0/MarkerCluster.Default.css"/>
</head>
<body>    
    
            <div class="folium-map" id="map_5fcfd7c893b0436689d6f8d0e11812a7" ></div>
        
</body>
<script>    
    
            var map_5fcfd7c893b0436689d6f8d0e11812a7 = L.map(
                "map_5fcfd7c893b0436689d6f8d0e11812a7",
                {
                    center: [-34.0, 18.9],
                    crs: L.CRS.EPSG3857,
                    zoom: 8,
                    zoomControl: true,
                    preferCanvas: false,
                }
            );

            

        
    
            var tile_layer_ada9e2ff92dd4135aab46f2261e8aec2 = L.tileLayer(
                "https://{s}.tile.openstreetmap.org/{z}/{x}/{y}.png",
                {"attribution": "Data by \u0026copy; \u003ca href=\"http://openstreetmap.org\"\u003eOpenStreetMap\u003c/a\u003e, under \u003ca href=\"http://www.openstreetmap.org/copyright\"\u003eODbL\u003c/a\u003e.", "detectRetina": false, "maxNativeZoom": 18, "maxZoom": 18, "minZoom": 0, "noWrap": false, "opacity": 1, "subdomains": "abc", "tms": false}
            ).addTo(map_5fcfd7c893b0436689d6f8d0e11812a7);
        
    
            var marker_cluster_f33409a87d38495ca453c6b3d20c1896 = L.markerClusterGroup(
                {}
            );
            map_5fcfd7c893b0436689d6f8d0e11812a7.addLayer(marker_cluster_f33409a87d38495ca453c6b3d20c1896);
        
    
            var marker_c7e05a732c064e5e99bca7a81db2e204 = L.marker(
                [11.5024338, 17.7578122],
                {}
            ).addTo(marker_cluster_f33409a87d38495ca453c6b3d20c1896);
        
    
        var popup_9b9ae185fe2440f789de84e0159be76b = L.popup({"maxWidth": 400});

        
            var html_5f8eaee26fcc4762bb6980055cfc1af3 = $(`<div id="html_5f8eaee26fcc4762bb6980055cfc1af3" style="width: 100.0%; height: 100.0%;">Africa <br> <a href=https://www.picuki.com/media/2530775927641018536 > See Post</div>`)[0];
            popup_9b9ae185fe2440f789de84e0159be76b.setContent(html_5f8eaee26fcc4762bb6980055cfc1af3);
        

        marker_c7e05a732c064e5e99bca7a81db2e204.bindPopup(popup_9b9ae185fe2440f789de84e0159be76b)
        ;

        
    
    
            var marker_61b86c507b7b4663aa7d1f3f7a4f4688 = L.marker(
                [-34.23, 19.428333],
                {}
            ).addTo(marker_cluster_f33409a87d38495ca453c6b3d20c1896);
        
    
        var popup_1299786fa8a24e288ad99fd1da2c46ea = L.popup({"maxWidth": 400});

        
            var html_5c8c131cc8a141d28c6060f8af5a911a = $(`<div id="html_5c8c131cc8a141d28c6060f8af5a911a" style="width: 100.0%; height: 100.0%;">Caledon, Western Cape <br> <a href=https://www.picuki.com/media/2534834726714481670 > See Post</div>`)[0];
            popup_1299786fa8a24e288ad99fd1da2c46ea.setContent(html_5c8c131cc8a141d28c6060f8af5a911a);
        

        marker_61b86c507b7b4663aa7d1f3f7a4f4688.bindPopup(popup_1299786fa8a24e288ad99fd1da2c46ea)
        ;

        
    
    
            var marker_ed1d7ed02ac14686ac13470cfdfc6822 = L.marker(
                [-34.0775777, 18.356445],
                {}
            ).addTo(marker_cluster_f33409a87d38495ca453c6b3d20c1896);
        
    
        var popup_dc52715b68a846bf8873c8951e48ec51 = L.popup({"maxWidth": 400});

        
            var html_6a81eb39907843d09d4da4fc50224278 = $(`<div id="html_6a81eb39907843d09d4da4fc50224278" style="width: 100.0%; height: 100.0%;">Chapman’s Peak View Point <br> <a href=https://www.picuki.com/media/2539260610150175754 > See Post</div>`)[0];
            popup_dc52715b68a846bf8873c8951e48ec51.setContent(html_6a81eb39907843d09d4da4fc50224278);
        

        marker_ed1d7ed02ac14686ac13470cfdfc6822.bindPopup(popup_dc52715b68a846bf8873c8951e48ec51)
        ;

        
    
    
            var marker_055f19eb11e74af9afe62756aa7f80c3 = L.marker(
                [-33.9734352, 18.469151231773292],
                {}
            ).addTo(marker_cluster_f33409a87d38495ca453c6b3d20c1896);
        
    
        var popup_0ed7dda648604181b0577b51dc484c18 = L.popup({"maxWidth": 400});

        
            var html_143f8fb94e5f481f88fa5e15650e0b33 = $(`<div id="html_143f8fb94e5f481f88fa5e15650e0b33" style="width: 100.0%; height: 100.0%;">Newlands Cricket Ground <br> <a href=https://www.picuki.com/media/2541353923355583137 > See Post</div>`)[0];
            popup_0ed7dda648604181b0577b51dc484c18.setContent(html_143f8fb94e5f481f88fa5e15650e0b33);
        

        marker_055f19eb11e74af9afe62756aa7f80c3.bindPopup(popup_0ed7dda648604181b0577b51dc484c18)
        ;

        
    
    
            var marker_2d9f174035be40b69ddf8a5042b5b937 = L.marker(
                [-28.8166236, 24.991639],
                {}
            ).addTo(marker_cluster_f33409a87d38495ca453c6b3d20c1896);
        
    
        var popup_6b167c74a160460e89f5fd41327c4117 = L.popup({"maxWidth": 400});

        
            var html_403f79b10f7741828a52cf8b175a366a = $(`<div id="html_403f79b10f7741828a52cf8b175a366a" style="width: 100.0%; height: 100.0%;">South Africa <br> <a href=https://www.picuki.com/media/2548601227858865500 > See Post</div>`)[0];
            popup_6b167c74a160460e89f5fd41327c4117.setContent(html_403f79b10f7741828a52cf8b175a366a);
        

        marker_2d9f174035be40b69ddf8a5042b5b937.bindPopup(popup_6b167c74a160460e89f5fd41327c4117)
        ;

        
    
    
            var marker_949f59edec1f403594f3096f56e380f6 = L.marker(
                [-34.123956, 18.4530177],
                {}
            ).addTo(marker_cluster_f33409a87d38495ca453c6b3d20c1896);
        
    
        var popup_73076725f2a04d03b43038bf6e3e3e81 = L.popup({"maxWidth": 400});

        
            var html_5259766012dd419d966b5146290556ed = $(`<div id="html_5259766012dd419d966b5146290556ed" style="width: 100.0%; height: 100.0%;">Dalebrook Tidal Pool <br> <a href=https://www.picuki.com/media/2550823706056584183 > See Post</div>`)[0];
            popup_73076725f2a04d03b43038bf6e3e3e81.setContent(html_5259766012dd419d966b5146290556ed);
        

        marker_949f59edec1f403594f3096f56e380f6.bindPopup(popup_73076725f2a04d03b43038bf6e3e3e81)
        ;

        
    
    
            var marker_9e63d88c972b492dbddf6e96aa2128f0 = L.marker(
                [-33.9509089, 18.37773090386552],
                {}
            ).addTo(marker_cluster_f33409a87d38495ca453c6b3d20c1896);
        
    
        var popup_0f4b1b5567804febac7badf44345f5ab = L.popup({"maxWidth": 400});

        
            var html_935574d17fba41ecbc21ab6edd7812e1 = $(`<div id="html_935574d17fba41ecbc21ab6edd7812e1" style="width: 100.0%; height: 100.0%;">Camps Bay Beach ,Cape Town <br> <a href=https://www.picuki.com/media/2552924793311875852 > See Post</div>`)[0];
            popup_0f4b1b5567804febac7badf44345f5ab.setContent(html_935574d17fba41ecbc21ab6edd7812e1);
        

        marker_9e63d88c972b492dbddf6e96aa2128f0.bindPopup(popup_0f4b1b5567804febac7badf44345f5ab)
        ;

        
    
</script>