<!DOCTYPE html>
<head>    
    <meta http-equiv="content-type" content="text/html; charset=UTF-8" />
    
        <script>
            L_NO_TOUCH = false;
            L_DISABLE_3D = false;
        </script>
    
    <style>html, body {width: 100%;height: 100%;margin: 0;padding: 0;}</style>
    <style>#map {position:absolute;top:0;bottom:0;right:0;left:0;}</style>
    <script src="https://cdn.jsdelivr.net/npm/leaflet@1.6.0/dist/leaflet.js"></script>
    <script src="https://code.jquery.com/jquery-1.12.4.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/js/bootstrap.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/Leaflet.awesome-markers/2.0.2/leaflet.awesome-markers.js"></script>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/leaflet@1.6.0/dist/leaflet.css"/>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css"/>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap-theme.min.css"/>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.6.3/css/font-awesome.min.css"/>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/Leaflet.awesome-markers/2.0.2/leaflet.awesome-markers.css"/>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/gh/python-visualization/folium/folium/templates/leaflet.awesome.rotate.min.css"/>
    
            <meta name="viewport" content="width=device-width,
                initial-scale=1.0, maximum-scale=1.0, user-scalable=no" />
            <style>
                #map_0b8743c3627741b3bd2c7ca151637d0a {
                    position: relative;
                    width: 100.0%;
                    height: 100.0%;
                    left: 0.0%;
                    top: 0.0%;
                }
            </style>
        
    <script src="https://cdnjs.cloudflare.com/ajax/libs/leaflet.markercluster/1.1.0/leaflet.markercluster.js"></script>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/leaflet.markercluster/1.1.0/MarkerCluster.css"/>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/leaflet.markercluster/1.1.0/MarkerCluster.Default.css"/>
</head>
<body>    
    
            <div class="folium-map" id="map_0b8743c3627741b3bd2c7ca151637d0a" ></div>
        
</body>
<script>    
    
            var map_0b8743c3627741b3bd2c7ca151637d0a = L.map(
                "map_0b8743c3627741b3bd2c7ca151637d0a",
                {
                    center: [18.0, 13.0],
                    crs: L.CRS.EPSG3857,
                    zoom: 3,
                    zoomControl: true,
                    preferCanvas: false,
                }
            );

            

        
    
            var tile_layer_a7cc41308bc443a6b5da1214dd5ff6b3 = L.tileLayer(
                "https://{s}.tile.openstreetmap.org/{z}/{x}/{y}.png",
                {"attribution": "Data by \u0026copy; \u003ca href=\"http://openstreetmap.org\"\u003eOpenStreetMap\u003c/a\u003e, under \u003ca href=\"http://www.openstreetmap.org/copyright\"\u003eODbL\u003c/a\u003e.", "detectRetina": false, "maxNativeZoom": 18, "maxZoom": 18, "minZoom": 0, "noWrap": false, "opacity": 1, "subdomains": "abc", "tms": false}
            ).addTo(map_0b8743c3627741b3bd2c7ca151637d0a);
        
    
            var marker_cluster_5bd7acedd5684ae59d518878186ac2cc = L.markerClusterGroup(
                {}
            );
            map_0b8743c3627741b3bd2c7ca151637d0a.addLayer(marker_cluster_5bd7acedd5684ae59d518878186ac2cc);
        
    
            var marker_44cdaff90541442fab55b96940a35986 = L.marker(
                [58.335947950000005, -4.9132184955527745],
                {}
            ).addTo(marker_cluster_5bd7acedd5684ae59d518878186ac2cc);
        
    
        var popup_83d6e676bd094b31a0ecedf91b48341d = L.popup({"maxWidth": 400});

        
            var html_e29d192202b745c384132a8748cb8d5f = $(`<div id="html_e29d192202b745c384132a8748cb8d5f" style="width: 100.0%; height: 100.0%;">Loch Stack <br> <a href=https://www.picuki.com/media/2526415468283993940 > See Post</div>`)[0];
            popup_83d6e676bd094b31a0ecedf91b48341d.setContent(html_e29d192202b745c384132a8748cb8d5f);
        

        marker_44cdaff90541442fab55b96940a35986.bindPopup(popup_83d6e676bd094b31a0ecedf91b48341d)
        ;

        
    
    
            var marker_d2f58d3950ca4030b8ceb0fff61b1825 = L.marker(
                [58.0441506, -5.207476],
                {}
            ).addTo(marker_cluster_5bd7acedd5684ae59d518878186ac2cc);
        
    
        var popup_c0d7567451d642bd9871af70f6db6cfb = L.popup({"maxWidth": 400});

        
            var html_d4c7004765bf4e2aa3c8364fd60ad05b = $(`<div id="html_d4c7004765bf4e2aa3c8364fd60ad05b" style="width: 100.0%; height: 100.0%;">Stac Pollaidh <br> <a href=https://www.picuki.com/media/2527146168570101401 > See Post</div>`)[0];
            popup_c0d7567451d642bd9871af70f6db6cfb.setContent(html_d4c7004765bf4e2aa3c8364fd60ad05b);
        

        marker_d2f58d3950ca4030b8ceb0fff61b1825.bindPopup(popup_c0d7567451d642bd9871af70f6db6cfb)
        ;

        
    
    
            var marker_d8ecbfcdd11b466aac3765db811a773b = L.marker(
                [60.1329516, 6.7540404],
                {}
            ).addTo(marker_cluster_5bd7acedd5684ae59d518878186ac2cc);
        
    
        var popup_7d826307115a44e6a35560a7e8b7319d = L.popup({"maxWidth": 400});

        
            var html_7d218fef6dd04974adef31f38d16dbca = $(`<div id="html_7d218fef6dd04974adef31f38d16dbca" style="width: 100.0%; height: 100.0%;">Trolltunga, Norway <br> <a href=https://www.picuki.com/media/2527863899632422461 > See Post</div>`)[0];
            popup_7d826307115a44e6a35560a7e8b7319d.setContent(html_7d218fef6dd04974adef31f38d16dbca);
        

        marker_d8ecbfcdd11b466aac3765db811a773b.bindPopup(popup_7d826307115a44e6a35560a7e8b7319d)
        ;

        
    
    
            var marker_1230727868ea48919d9eb58360c5622a = L.marker(
                [56.5667883, -4.8707776],
                {}
            ).addTo(marker_cluster_5bd7acedd5684ae59d518878186ac2cc);
        
    
        var popup_9b84077cb27348c7985265577036bd02 = L.popup({"maxWidth": 400});

        
            var html_0ab89a28b3c44f109a6cfec382656b1c = $(`<div id="html_0ab89a28b3c44f109a6cfec382656b1c" style="width: 100.0%; height: 100.0%;">Aonach Eagach <br> <a href=https://www.picuki.com/media/2532229571183335031 > See Post</div>`)[0];
            popup_9b84077cb27348c7985265577036bd02.setContent(html_0ab89a28b3c44f109a6cfec382656b1c);
        

        marker_1230727868ea48919d9eb58360c5622a.bindPopup(popup_9b84077cb27348c7985265577036bd02)
        ;

        
    
    
            var marker_43d8e3fbd1f445b4a7ac391ce8dbe140 = L.marker(
                [46.6178075, 12.298379872784528],
                {}
            ).addTo(marker_cluster_5bd7acedd5684ae59d518878186ac2cc);
        
    
        var popup_3407ec3968784a24aa340f1cdc64b3cf = L.popup({"maxWidth": 400});

        
            var html_942b1388e965499e9e34ee29769a1e03 = $(`<div id="html_942b1388e965499e9e34ee29769a1e03" style="width: 100.0%; height: 100.0%;">Tre Cime di Lavaredo <br> <a href=https://www.picuki.com/media/2534334471765712642 > See Post</div>`)[0];
            popup_3407ec3968784a24aa340f1cdc64b3cf.setContent(html_942b1388e965499e9e34ee29769a1e03);
        

        marker_43d8e3fbd1f445b4a7ac391ce8dbe140.bindPopup(popup_3407ec3968784a24aa340f1cdc64b3cf)
        ;

        
    
    
            var marker_4efe5318cb6b43d385c70477c48df97a = L.marker(
                [57.8023457, -5.2542535],
                {}
            ).addTo(marker_cluster_5bd7acedd5684ae59d518878186ac2cc);
        
    
        var popup_de31e1e610f94738b10968e9582f4376 = L.popup({"maxWidth": 400});

        
            var html_709b7a21ae5f4919a5e7f2b37322d179 = $(`<div id="html_709b7a21ae5f4919a5e7f2b37322d179" style="width: 100.0%; height: 100.0%;">An Teallach <br> <a href=https://www.picuki.com/media/2536575135375048202 > See Post</div>`)[0];
            popup_de31e1e610f94738b10968e9582f4376.setContent(html_709b7a21ae5f4919a5e7f2b37322d179);
        

        marker_4efe5318cb6b43d385c70477c48df97a.bindPopup(popup_de31e1e610f94738b10968e9582f4376)
        ;

        
    
    
            var marker_f666743788634bfa8ee75a42bfed0013 = L.marker(
                [-29.4779935, 29.2673172],
                {}
            ).addTo(marker_cluster_5bd7acedd5684ae59d518878186ac2cc);
        
    
        var popup_7ff7a7ae73954ce2ad9e1d19628bdfc9 = L.popup({"maxWidth": 400});

        
            var html_84ace02f623c48d1bcdf2385f0d0e3f8 = $(`<div id="html_84ace02f623c48d1bcdf2385f0d0e3f8" style="width: 100.0%; height: 100.0%;">Drakensberg <br> <a href=https://www.picuki.com/media/2540934891070002241 > See Post</div>`)[0];
            popup_7ff7a7ae73954ce2ad9e1d19628bdfc9.setContent(html_84ace02f623c48d1bcdf2385f0d0e3f8);
        

        marker_f666743788634bfa8ee75a42bfed0013.bindPopup(popup_7ff7a7ae73954ce2ad9e1d19628bdfc9)
        ;

        
    
    
            var marker_96e2f06e68824bb8aaaeb724b12cf9e1 = L.marker(
                [56.8, -5.0],
                {}
            ).addTo(marker_cluster_5bd7acedd5684ae59d518878186ac2cc);
        
    
        var popup_4da0998a3db344f7bbb9d6aebd653edc = L.popup({"maxWidth": 400});

        
            var html_e6afd0c7a5ce4ef2961ee76938b2e344 = $(`<div id="html_e6afd0c7a5ce4ef2961ee76938b2e344" style="width: 100.0%; height: 100.0%;">Scottish Highlands <br> <a href=https://www.picuki.com/media/2541619132057513071 > See Post</div>`)[0];
            popup_4da0998a3db344f7bbb9d6aebd653edc.setContent(html_e6afd0c7a5ce4ef2961ee76938b2e344);
        

        marker_96e2f06e68824bb8aaaeb724b12cf9e1.bindPopup(popup_4da0998a3db344f7bbb9d6aebd653edc)
        ;

        
    
    
            var marker_e5ed460911cd422cb9824dac7d688855 = L.marker(
                [58.1379667, -4.8585225],
                {}
            ).addTo(marker_cluster_5bd7acedd5684ae59d518878186ac2cc);
        
    
        var popup_e34688edab404959bcd0629f0334d27f = L.popup({"maxWidth": 400});

        
            var html_0f0d6797a86b431aa7d956fafa18459a = $(`<div id="html_0f0d6797a86b431aa7d956fafa18459a" style="width: 100.0%; height: 100.0%;">Assynt <br> <a href=https://www.picuki.com/media/2545936899699063213 > See Post</div>`)[0];
            popup_e34688edab404959bcd0629f0334d27f.setContent(html_0f0d6797a86b431aa7d956fafa18459a);
        

        marker_e5ed460911cd422cb9824dac7d688855.bindPopup(popup_e34688edab404959bcd0629f0334d27f)
        ;

        
    
</script>