<!DOCTYPE html>
<head>    
    <meta http-equiv="content-type" content="text/html; charset=UTF-8" />
    
        <script>
            L_NO_TOUCH = false;
            L_DISABLE_3D = false;
        </script>
    
    <style>html, body {width: 100%;height: 100%;margin: 0;padding: 0;}</style>
    <style>#map {position:absolute;top:0;bottom:0;right:0;left:0;}</style>
    <script src="https://cdn.jsdelivr.net/npm/leaflet@1.6.0/dist/leaflet.js"></script>
    <script src="https://code.jquery.com/jquery-1.12.4.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/js/bootstrap.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/Leaflet.awesome-markers/2.0.2/leaflet.awesome-markers.js"></script>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/leaflet@1.6.0/dist/leaflet.css"/>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css"/>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap-theme.min.css"/>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.6.3/css/font-awesome.min.css"/>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/Leaflet.awesome-markers/2.0.2/leaflet.awesome-markers.css"/>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/gh/python-visualization/folium/folium/templates/leaflet.awesome.rotate.min.css"/>
    
            <meta name="viewport" content="width=device-width,
                initial-scale=1.0, maximum-scale=1.0, user-scalable=no" />
            <style>
                #map_6895eada210a4a82b2b8f9a6bdbad22a {
                    position: relative;
                    width: 100.0%;
                    height: 100.0%;
                    left: 0.0%;
                    top: 0.0%;
                }
            </style>
        
    <script src="https://cdnjs.cloudflare.com/ajax/libs/leaflet.markercluster/1.1.0/leaflet.markercluster.js"></script>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/leaflet.markercluster/1.1.0/MarkerCluster.css"/>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/leaflet.markercluster/1.1.0/MarkerCluster.Default.css"/>
</head>
<body>    
    
            <div class="folium-map" id="map_6895eada210a4a82b2b8f9a6bdbad22a" ></div>
        
</body>
<script>    
    
            var map_6895eada210a4a82b2b8f9a6bdbad22a = L.map(
                "map_6895eada210a4a82b2b8f9a6bdbad22a",
                {
                    center: [-25.25, 21.75],
                    crs: L.CRS.EPSG3857,
                    zoom: 5,
                    zoomControl: true,
                    preferCanvas: false,
                }
            );

            

        
    
            var tile_layer_4cd50036b2a74461971ca9eaa699d69d = L.tileLayer(
                "https://{s}.tile.openstreetmap.org/{z}/{x}/{y}.png",
                {"attribution": "Data by \u0026copy; \u003ca href=\"http://openstreetmap.org\"\u003eOpenStreetMap\u003c/a\u003e, under \u003ca href=\"http://www.openstreetmap.org/copyright\"\u003eODbL\u003c/a\u003e.", "detectRetina": false, "maxNativeZoom": 18, "maxZoom": 18, "minZoom": 0, "noWrap": false, "opacity": 1, "subdomains": "abc", "tms": false}
            ).addTo(map_6895eada210a4a82b2b8f9a6bdbad22a);
        
    
            var poly_line_84cc3f03d25546399d4db846afe2e06a = L.polyline(
                [[-25.999262, 28.125912], [-28.5175205, 20.069182129926723], [-27.6632248, 17.780115582608694], [-27.6101636, 17.6060746], [-26.6500086, 15.157266], [-24.4910839, 15.8032097], [-22.6767841, 14.5313988], [-20.024574, 13.845733], [-20.437824, 14.605991]],
                {"bubblingMouseEvents": true, "color": "red", "dashArray": null, "dashOffset": null, "fill": false, "fillColor": "red", "fillOpacity": 0.2, "fillRule": "evenodd", "lineCap": "round", "lineJoin": "round", "noClip": false, "opacity": 0.7, "smoothFactor": 1.0, "stroke": true, "weight": 2}
            ).addTo(map_6895eada210a4a82b2b8f9a6bdbad22a);
        
    
            var marker_cluster_d54be442ab2c4789b44e0eec242086e3 = L.markerClusterGroup(
                {}
            );
            map_6895eada210a4a82b2b8f9a6bdbad22a.addLayer(marker_cluster_d54be442ab2c4789b44e0eec242086e3);
        
    
            var marker_049124e64dc44d5db149909c90178374 = L.marker(
                [-25.999262, 28.125912],
                {}
            ).addTo(marker_cluster_d54be442ab2c4789b44e0eec242086e3);
        
    
        var popup_8ac21be4a7154171b1a1f7ac0c7c845a = L.popup({"maxWidth": 400});

        
            var html_fe694456379844989fac69ad96bac102 = $(`<div id="html_fe694456379844989fac69ad96bac102" style="width: 100.0%; height: 100.0%;">Midrand, Gauteng <br> <a href=https://www.picuki.com/media/2542371069725160604 > See Post</div>`)[0];
            popup_8ac21be4a7154171b1a1f7ac0c7c845a.setContent(html_fe694456379844989fac69ad96bac102);
        

        marker_049124e64dc44d5db149909c90178374.bindPopup(popup_8ac21be4a7154171b1a1f7ac0c7c845a)
        ;

        
    
    
            var marker_645a7972f9004e7bb7374e98adccf236 = L.marker(
                [-28.5175205, 20.069182129926723],
                {}
            ).addTo(marker_cluster_d54be442ab2c4789b44e0eec242086e3);
        
    
        var popup_dc1c17a486054fc19ce585eb64e48da5 = L.popup({"maxWidth": 400});

        
            var html_1281fdded1254ef4b7468f43e8833e08 = $(`<div id="html_1281fdded1254ef4b7468f43e8833e08" style="width: 100.0%; height: 100.0%;">Augrabies Falls National Park <br> <a href=https://www.picuki.com/media/2546094387794720807 > See Post</div>`)[0];
            popup_dc1c17a486054fc19ce585eb64e48da5.setContent(html_1281fdded1254ef4b7468f43e8833e08);
        

        marker_645a7972f9004e7bb7374e98adccf236.bindPopup(popup_dc1c17a486054fc19ce585eb64e48da5)
        ;

        
    
    
            var marker_b74f3837f5244cdf8ec02ee572e25f75 = L.marker(
                [-27.6632248, 17.780115582608694],
                {}
            ).addTo(marker_cluster_d54be442ab2c4789b44e0eec242086e3);
        
    
        var popup_a4e2c0ffd3af499fa44b7a910e7da348 = L.popup({"maxWidth": 400});

        
            var html_6e7b0763a2a743c49fbb40f6a567c247 = $(`<div id="html_6e7b0763a2a743c49fbb40f6a567c247" style="width: 100.0%; height: 100.0%;">Gondwana Cañon Lodge <br> <a href=https://www.picuki.com/media/2547179909287833695 > See Post</div>`)[0];
            popup_a4e2c0ffd3af499fa44b7a910e7da348.setContent(html_6e7b0763a2a743c49fbb40f6a567c247);
        

        marker_b74f3837f5244cdf8ec02ee572e25f75.bindPopup(popup_a4e2c0ffd3af499fa44b7a910e7da348)
        ;

        
    
    
            var marker_ee97799e8e464868bc7237deeaebfa26 = L.marker(
                [-27.6101636, 17.6060746],
                {}
            ).addTo(marker_cluster_d54be442ab2c4789b44e0eec242086e3);
        
    
        var popup_70d9cd98070949689ff9f2fc0da307c1 = L.popup({"maxWidth": 400});

        
            var html_aa7bb5c05e274a81bd6e2715234be349 = $(`<div id="html_aa7bb5c05e274a81bd6e2715234be349" style="width: 100.0%; height: 100.0%;">Fish River Canyon <br> <a href=https://www.picuki.com/media/2548094281115991889 > See Post</div>`)[0];
            popup_70d9cd98070949689ff9f2fc0da307c1.setContent(html_aa7bb5c05e274a81bd6e2715234be349);
        

        marker_ee97799e8e464868bc7237deeaebfa26.bindPopup(popup_70d9cd98070949689ff9f2fc0da307c1)
        ;

        
    
    
            var marker_ee042202ac3c49719a51e018128c1bd3 = L.marker(
                [-26.6500086, 15.157266],
                {}
            ).addTo(marker_cluster_d54be442ab2c4789b44e0eec242086e3);
        
    
        var popup_1d332c8eedac40b799d0cb113517bc34 = L.popup({"maxWidth": 400});

        
            var html_88a93f8232d245bb8f1e2081948eeddf = $(`<div id="html_88a93f8232d245bb8f1e2081948eeddf" style="width: 100.0%; height: 100.0%;">Luderitz-NAMIBIA <br> <a href=https://www.picuki.com/media/2548099983087509980 > See Post</div>`)[0];
            popup_1d332c8eedac40b799d0cb113517bc34.setContent(html_88a93f8232d245bb8f1e2081948eeddf);
        

        marker_ee042202ac3c49719a51e018128c1bd3.bindPopup(popup_1d332c8eedac40b799d0cb113517bc34)
        ;

        
    
    
            var marker_95862a164fab4e5eb8248d575d591aaa = L.marker(
                [-24.4910839, 15.8032097],
                {}
            ).addTo(marker_cluster_d54be442ab2c4789b44e0eec242086e3);
        
    
        var popup_ba56ed57fd944d2987665ae12525e471 = L.popup({"maxWidth": 400});

        
            var html_4ea699fc3fdb4f3b9af96cce354cf0fd = $(`<div id="html_4ea699fc3fdb4f3b9af96cce354cf0fd" style="width: 100.0%; height: 100.0%;">Sossus Oasis Camp Site,  Namibia <br> <a href=https://www.picuki.com/media/2548828040106835182 > See Post</div>`)[0];
            popup_ba56ed57fd944d2987665ae12525e471.setContent(html_4ea699fc3fdb4f3b9af96cce354cf0fd);
        

        marker_95862a164fab4e5eb8248d575d591aaa.bindPopup(popup_ba56ed57fd944d2987665ae12525e471)
        ;

        
    
    
            var marker_730a5a076e3d4cfd9edcb78be90be7cf = L.marker(
                [-22.6767841, 14.5313988],
                {}
            ).addTo(marker_cluster_d54be442ab2c4789b44e0eec242086e3);
        
    
        var popup_e8b3d6855e644d0c8015681a2d316753 = L.popup({"maxWidth": 400});

        
            var html_b9394f43897b40038122ef8f284f10af = $(`<div id="html_b9394f43897b40038122ef8f284f10af" style="width: 100.0%; height: 100.0%;">Swakopmund, Namibia <br> <a href=https://www.picuki.com/media/2551861944002688643 > See Post</div>`)[0];
            popup_e8b3d6855e644d0c8015681a2d316753.setContent(html_b9394f43897b40038122ef8f284f10af);
        

        marker_730a5a076e3d4cfd9edcb78be90be7cf.bindPopup(popup_e8b3d6855e644d0c8015681a2d316753)
        ;

        
    
    
            var marker_7c2a931c96b143b684cbceb3a6e7699f = L.marker(
                [-20.024574, 13.845733],
                {}
            ).addTo(marker_cluster_d54be442ab2c4789b44e0eec242086e3);
        
    
        var popup_f22830756d824d97a4ddd37747d5aed2 = L.popup({"maxWidth": 400});

        
            var html_2d5dc1291131470898d5268cea254a8e = $(`<div id="html_2d5dc1291131470898d5268cea254a8e" style="width: 100.0%; height: 100.0%;">Desert Rhino Camp <br> <a href=https://www.picuki.com/media/2554613309422540625 > See Post</div>`)[0];
            popup_f22830756d824d97a4ddd37747d5aed2.setContent(html_2d5dc1291131470898d5268cea254a8e);
        

        marker_7c2a931c96b143b684cbceb3a6e7699f.bindPopup(popup_f22830756d824d97a4ddd37747d5aed2)
        ;

        
    
    
            var marker_d1bbd81ddcd84afcb32edc9e59ab32f7 = L.marker(
                [-20.437824, 14.605991],
                {}
            ).addTo(marker_cluster_d54be442ab2c4789b44e0eec242086e3);
        
    
        var popup_2dc333e2a57640c88a4046a6612201aa = L.popup({"maxWidth": 400});

        
            var html_cc8a7ea30e5c443c9648a09b3a3bf29d = $(`<div id="html_cc8a7ea30e5c443c9648a09b3a3bf29d" style="width: 100.0%; height: 100.0%;">Petrified Forest National Heritage Site <br> <a href=https://www.picuki.com/media/2554635608473270637 > See Post</div>`)[0];
            popup_2dc333e2a57640c88a4046a6612201aa.setContent(html_cc8a7ea30e5c443c9648a09b3a3bf29d);
        

        marker_d1bbd81ddcd84afcb32edc9e59ab32f7.bindPopup(popup_2dc333e2a57640c88a4046a6612201aa)
        ;

        
    
</script>